{{ $defaultWidth := "fit" }}
{{ if eq .AltColors true }}
<a class="w-{{- .Width | default $defaultWidth }} p-4 text-sm font-mono bg-white text-redis-ink-900 border border-redis-pen-600 rounded hover:bg-redis-yellow-500 hover:border-redis-yellow-500 transition-colors" href="{{ .Href }}">{{ .Text }}</a>
{{ else }}
<a class="w-{{- .Width | default $defaultWidth }} p-4 text-sm font-mono bg-redis-yellow-500 text-redis-ink-900 border border-redis-pen-600 rounded  hover:bg-redis-ink-900 hover:text-white transition-colors" href="{{ .Href }}">{{ .Text }}</a>
{{ end }}
