{{ define "head" }}
  <script src='{{ relURL "js/cli.js" }}' defer></script>
  <script src='{{ relURL "js/codetabs.js" }}' defer></script>
{{ end }}

{{ define "main" }}
  <main class="docs w-full max-w-[1920px] mx-auto px-5 flex flex-col md:flex-row overflow-hidden">
    {{ partial "docs-nav.html" . }}
    <div class="w-full py-12 md:pl-4 xl:px-16 overflow-hidden">
      {{ partial "breadcrumbs" . }}
      <section class="prose w-full py-12 max-w-none">
        <h1>
          {{ .Title }}
        </h1>

        {{ with .Params.description }}<p class="text-lg -mt-5 mb-10">{{ . | markdownify }}</p>{{ end }}
        
        <!-- In-page banner -->
        {{ if .Params.bannerText }}
          <!-- Banner params are in the current page's front matter -->
          {{ partial "banner-article.html" . }}
        {{ else }}
          <!-- Iterate through the page's ancestors to determine if a 
            section-wide banner is enabled by a parent page's front matter -->
          {{ $ancestorDirs := slice }}
          {{ with .File }}
            {{ $ancestorDirs = split .Dir "/" }}
          {{ end }}
          {{ $currPage := .Page }}
          {{ range $i, $page := $ancestorDirs }}
            {{ if and $currPage.Params.bannerText $currPage.Params.bannerChildren }}
              {{ partial "banner-article.html" $currPage }}
            {{ end }}
            {{ $currPage = $currPage.Parent }}
          {{ end }}
        {{ end }}
        
        <!-- CLI Display Block as Table -->
        <table class="w-full border-collapse">
          <thead>
            <tr>
              <th class="p-4 text-left">Try these Redis commands in the CLI to the right</th>
              <th class="p-4 text-left">Redis CLI</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-top p-4 w-[40%]">
                <p>PING</p>
                <p>HSET user:1 name antirez vocation artist</p>
                <p>SET e 2.71</p>
                <p>INCRBYFLOAT e 0.43</p>
                <p>RENAME e pi</p>
              </td>
              <td class="align-top p-4 w-[60%]">
                <div class="bg-slate-900 rounded-xl shadow-lg shadow-slate-900/10 h-60 overflow-y-auto">
                  <div class="border-b border-slate-700 rounded-t-xl px-4 py-3 w-full flex">
                    {{ partial "icons/cli-circle" (dict "class" "shrink-0 h-[1.0625rem] w-[1.0625rem] fill-slate-50") }}
                    {{ partial "icons/cli-triangle" (dict "class" "shrink-0 h-[1.0625rem] w-[1.0625rem] fill-slate-50") }}
                    {{ partial "icons/cli-star" (dict "class" "shrink-0 h-[1.0625rem] w-[1.0625rem] fill-slate-50") }}
                  </div>            
                  <form class="redis-cli" typewriter>
                    <pre tabindex="0" class="whitespace-pre">
PING
                    </pre>
                  </form>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        
        {{ .Content }}
        {{ if not .Params.hideListLinks }}
          <nav>
            {{ range .CurrentSection.Pages }}
              <a href="{{ .RelPermalink }}"{{ with .Params.manualLinkTitle }} title="{{ . }}"{{ end }}{{ with .Params.manualLinkTarget }} target="{{ . }}"{{ if eq . "_blank" }} rel="noopener"{{ end }}{{ end }}>{{- .Title -}}</a>
              {{ if .Description }}
                <p>{{ .Description | markdownify }}</p>
              {{ else }}
                <br /><br />
              {{ end }}
            {{ end }}
          </nav>
        {{ end }}
        {{ partial "feedback.html" . }}
      </section>
    </div>
    {{ partial "docs-toc.html" . }}
  </main>
{{ end }}
