/public/
/resources/
/content/tmp/
/data/examples.json
/data/languages.json
/data/repos.json
/data/tool_types.json
/data/versions.json
/data/components_local/
/examples
**/__pycache__/
venv/**
node_modules/
package-lock.json 
.hugo_build.lock
.vscode/
.DS_Store
.idea
