/* Background */ .bg { color: #334155; background-color: #fafaf9 }
/* PreWrapper */ .chroma { color: #334155; background-color: #fafaf9; }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color: #b91c1c; background-color: #fef2f2 }
/* CodeLine */ .chroma .cl {  }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .chroma .hl { background-color: #fef3c7 }
/* LineNumbersTable */ .chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #64748b }
/* LineNumbers */ .chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #64748b }
/* Line */ .chroma .line { display: flex; }
/* Keyword */ .chroma .k { color: #7c3aed; font-weight: 500 }
/* KeywordConstant */ .chroma .kc { color: #7c3aed }
/* KeywordDeclaration */ .chroma .kd { color: #7c3aed; font-weight: 500 }
/* KeywordNamespace */ .chroma .kn { color: #7c3aed; font-weight: 500 }
/* KeywordPseudo */ .chroma .kp { color: #7c3aed }
/* KeywordReserved */ .chroma .kr { color: #7c3aed; font-weight: 500 }
/* KeywordType */ .chroma .kt { color: #7c3aed; font-weight: 500 }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na {  }
/* NameBuiltin */ .chroma .nb {  }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc { color: #d97706; font-weight: bold }
/* NameConstant */ .chroma .no { color: #7c3aed; font-weight: bold }
/* NameDecorator */ .chroma .nd { color: #059669; font-weight: bold }
/* NameEntity */ .chroma .ni { color: #d97706 }
/* NameException */ .chroma .ne { color: #dc2626; font-weight: bold }
/* NameFunction */ .chroma .nf { color: #059669; font-weight: bold }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl { color: #2563eb; font-weight: bold }
/* NameNamespace */ .chroma .nn { color: #dc2626 }
/* NameOther */ .chroma .nx {  }
/* NameProperty */ .chroma .py { color: #2563eb }
/* NameTag */ .chroma .nt { color: #15803d }
/* NameVariable */ .chroma .nv { color: #2563eb }
/* NameVariableClass */ .chroma .vc {  }
/* NameVariableGlobal */ .chroma .vg {  }
/* NameVariableInstance */ .chroma .vi {  }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l { color: #ea580c }
/* LiteralDate */ .chroma .ld { color: #ea580c }
/* LiteralString */ .chroma .s { color: #ea580c }
/* LiteralStringAffix */ .chroma .sa { color: #ea580c }
/* LiteralStringBacktick */ .chroma .sb { color: #ea580c }
/* LiteralStringChar */ .chroma .sc { color: #ea580c }
/* LiteralStringDelimiter */ .chroma .dl { color: #ea580c }
/* LiteralStringDoc */ .chroma .sd { color: #ea580c }
/* LiteralStringDouble */ .chroma .s2 { color: #ea580c }
/* LiteralStringEscape */ .chroma .se { color: #ea580c }
/* LiteralStringHeredoc */ .chroma .sh { color: #ea580c }
/* LiteralStringInterpol */ .chroma .si { color: #ea580c }
/* LiteralStringOther */ .chroma .sx { color: #ea580c }
/* LiteralStringRegex */ .chroma .sr { color: #ea580c }
/* LiteralStringSingle */ .chroma .s1 { color: #ea580c }
/* LiteralStringSymbol */ .chroma .ss { color: #ea580c }
/* LiteralNumber */ .chroma .m { color: #7c3aed }
/* LiteralNumberBin */ .chroma .mb { color: #7c3aed }
/* LiteralNumberFloat */ .chroma .mf { color: #7c3aed }
/* LiteralNumberHex */ .chroma .mh { color: #7c3aed }
/* LiteralNumberInteger */ .chroma .mi { color: #7c3aed }
/* LiteralNumberIntegerLong */ .chroma .il { color: #7c3aed }
/* LiteralNumberOct */ .chroma .mo { color: #7c3aed }
/* Operator */ .chroma .o { color: #dc2626; font-weight: bold }
/* OperatorWord */ .chroma .ow { color: #dc2626; font-weight: bold }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color: #475569; font-style: italic }
/* CommentHashbang */ .chroma .ch { color: #475569; font-style: italic }
/* CommentMultiline */ .chroma .cm { color: #475569; font-style: italic }
/* CommentSingle */ .chroma .c1 { color: #475569; font-style: italic }
/* CommentSpecial */ .chroma .cs { color: #475569; font-weight: bold; font-style: italic }
/* CommentPreproc */ .chroma .cp { color: #475569; font-weight: bold; font-style: italic }
/* CommentPreprocFile */ .chroma .cpf { color: #475569; font-weight: bold; font-style: italic }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { color: #b91c1c; background-color: #fef2f2 }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr { color: #b91c1c }
/* GenericHeading */ .chroma .gh { color: #2563eb; font-weight: bold }
/* GenericInserted */ .chroma .gi { color: #15803d; background-color: #f0fdf4 }
/* GenericOutput */ .chroma .go { color: #475569 }
/* GenericPrompt */ .chroma .gp { color: #475569 }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #2563eb }
/* GenericTraceback */ .chroma .gt { color: #dc2626 }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w { color: #475569 }
