{
  "openapi": "3.0.1",
  "info": {
    "title": "Redis Cloud API",
    "description": "Redis Cloud API",
    "contact": {
      "name": "Customer Support",
      "url": "https://support.redislabs.com",
      "email": "support@redis.com"
    },
    "version": "Version 1"
  },
  "externalDocs": {
    "description": "Redis Cloud API Documentation",
    "url": "https://docs.redislabs.com/latest/rc/api/"
  },
  "servers": [
    {
      "url": "https://api.redislabs.com/v1"
    }
  ],
  "security": [
    {
      "x-api-key": [],
      "x-api-secret-key": []
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Current account and ownership information",
      "x-order": "0"
    },
    {
      "name": "Subscriptions - Pro",
      "description": "All operations related to Pro subscriptions lifecycle",
      "x-order": "10"
    },
    {
      "name": "Subscriptions - Pro - Connectivity",
      "description": "All operations related to Pro subscriptions connectivity",
      "x-order": "11"
    },
    {
      "name": "Databases - Pro",
      "description": "All operations related to Pro databases lifecycle",
      "x-order": "20"
    },
    {
      "name": "Subscriptions - Essentials",
      "description": "All operations related to Essentials subscriptions lifecycle",
      "x-order": "30"
    },
    {
      "name": "Databases - Essentials",
      "description": "All operations related to Essentials databases lifecycle",
      "x-order": "40"
    },
    {
      "name": "Access Control List",
      "description": "Data and operations related to access control list",
      "x-order": "50"
    },
    {
      "name": "Cloud Accounts",
      "description": "All operations related to cloud accounts (AWS only)",
      "x-order": "60"
    },
    {
      "name": "Users",
      "description": "Data and operations related to account's users",
      "x-order": "70"
    },
    {
      "name": "Tasks",
      "description": "Displays information on long running operations",
      "x-order": "80"
    }
  ],
  "paths": {
    "/users/{userId}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user by id",
        "description": "Information on user identified by user Id",
        "operationId": "getUserById",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountUser"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update user",
        "description": "Update an existing user by Id",
        "operationId": "updateUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUserUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete user",
        "description": "Delete a user from current account",
        "operationId": "deleteUserById",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}": {
      "get": {
        "tags": [
          "Subscriptions - Pro"
        ],
        "summary": "Get subscription by id",
        "description": "Information on subscription identified by subscription Id",
        "operationId": "getSubscriptionById",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "put": {
        "tags": [
          "Subscriptions - Pro"
        ],
        "summary": "Update subscription",
        "description": "Update an existing subscription by Id",
        "operationId": "updateSubscription",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "delete": {
        "tags": [
          "Subscriptions - Pro"
        ],
        "summary": "Delete subscription",
        "description": "Delete a subscription identified by subscription Id (subscription must be empty, i.e. cannot contain databases)",
        "operationId": "deleteSubscriptionById",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/transitGateways/{TgwId}/attachment": {
      "put": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Update a transit gateway attachment",
        "description": "Update an AWS transit gateway attachment",
        "operationId": "updateTgwAttachmentCidrs",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "TgwId",
            "in": "path",
            "description": "Tgw Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TgwUpdateCidrsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "post": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Create a transit gateway attachment",
        "description": "Create an AWS transit gateway attachment",
        "operationId": "createTgwAttachment",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "TgwId",
            "in": "path",
            "description": "Tgw Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to create requested resource (primarily due to not active resource)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with the new name"
          },
          "422": {
            "description": "Unprocessable Entity - The server understands the request, and the syntax of the request is correct, but it was unable to process the contained instructions"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "delete": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Delete a transit gateway attachment",
        "description": "Delete an AWS transit gateway attachment",
        "operationId": "deleteTgwAttachment",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "TgwId",
            "in": "path",
            "description": "Tgw Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/transitGateways/invitations/{tgwInvitationId}/reject": {
      "put": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Reject a transit gateway resource share",
        "description": "Reject an AWS transit gateway resource share",
        "operationId": "rejectTgwResourceShare",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tgwInvitationId",
            "in": "path",
            "description": "TgwInvitation Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/transitGateways/invitations/{tgwInvitationId}/accept": {
      "put": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Accept a transit gateway resource share",
        "description": "Accept an AWS transit gateway resource share",
        "operationId": "acceptTgwResourceShare",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tgwInvitationId",
            "in": "path",
            "description": "TgwInvitation Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/regions/{regionId}/transitGateways/{TgwId}/attachment": {
      "put": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Update a specific region transit gateway attachment",
        "description": "Update an active active specific region AWS transit gateway attachment",
        "operationId": "updateActiveActiveTgwAttachmentCidrs",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "regionId",
            "in": "path",
            "description": "Region id (required for active-active subscription)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "TgwId",
            "in": "path",
            "description": "Tgw Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActiveActiveTgwUpdateCidrsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "post": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Create a specific region transit gateway attachment",
        "description": "Create an active active specific region AWS transit gateway attachment",
        "operationId": "createActiveActiveTgwAttachment",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "regionId",
            "in": "path",
            "description": "Region id (required for active-active subscription)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "TgwId",
            "in": "path",
            "description": "Tgw Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to create requested resource (primarily due to not active resource)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with the new name"
          },
          "422": {
            "description": "Unprocessable Entity - The server understands the request, and the syntax of the request is correct, but it was unable to process the contained instructions"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "delete": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Delete a specific region transit gateway attachment",
        "description": "Delete an active active specific region AWS transit gateway attachment",
        "operationId": "deleteActiveActiveTgwAttachment",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "regionId",
            "in": "path",
            "description": "Region id (required for active-active subscription)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "TgwId",
            "in": "path",
            "description": "Tgw Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/regions/{regionId}/transitGateways/invitations/{tgwInvitationId}/accept": {
      "put": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Accept a specific region transit gateway resource share",
        "description": "Accept an active active specific region AWS transit gateway resource share",
        "operationId": "acceptActiveActiveTgwResourceShare",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "regionId",
            "in": "path",
            "description": "Region id (required for active-active subscription)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "tgwInvitationId",
            "in": "path",
            "description": "TgwInvitation Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/regions/{regionId}/private-service-connect/{pscServiceId}/endpoints/{endpointId}": {
      "put": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Update an existing active-active subscription Private Service Connect endpoint",
        "description": "Update an existing Private Service Connect endpoint in an existing active-active subscription.",
        "operationId": "updateActiveActivePscServiceEndpoint",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pscServiceId",
            "in": "path",
            "description": "Private service connect service Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "regionId",
            "in": "path",
            "description": "Region id (required for active-active subscription)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "description": "Private service connect endpoint Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActiveActivePscEndpointUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "delete": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Delete an existing active-active subscription Private Service Connect endpoint",
        "description": "Delete an existing Private Service Connect endpoint in an existing active-active subscription.",
        "operationId": "deleteActiveActivePscServiceEndpoint",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pscServiceId",
            "in": "path",
            "description": "Private service connect service Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "regionId",
            "in": "path",
            "description": "Region id (required for active-active subscription)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "description": "Private service connect endpoint Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/regions/peerings/{peeringId}": {
      "put": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Update an active-active subscription VPC peering",
        "description": "Update an existing VPC peering in an existing active-active subscription.",
        "operationId": "updateActiveActiveVpcPeering",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "peeringId",
            "in": "path",
            "description": "VpcPeering Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActiveActiveVpcPeeringUpdateAwsRequest"
              },
              "example": {
                "vpcCidrs": [
                  "<10.10.10.0/24>",
                  "<10.10.20.0/24>"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "delete": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Delete an active-active subscription VPC peering",
        "description": "Delete a VPC peering from an existing active-active subscription.",
        "operationId": "deleteActiveActiveVpcPeering",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "peeringId",
            "in": "path",
            "description": "VpcPeering Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/private-service-connect/{pscServiceId}/endpoints/{endpointId}": {
      "put": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Update an existing subscription Private Service Connect endpoint",
        "description": "Update an existing Private Service Connect endpoint in an existing subscription.",
        "operationId": "updatePscServiceEndpoint",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pscServiceId",
            "in": "path",
            "description": "Private service connect service Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "description": "Private service connect endpoint Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PscEndpointUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "delete": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Delete an existing subscription Private Service Connect endpoint",
        "description": "Delete an existing Private Service Connect endpoint in an existing subscription.",
        "operationId": "deletePscServiceEndpoint",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pscServiceId",
            "in": "path",
            "description": "Private service connect service Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "description": "Private service connect endpoint Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/peerings/{peeringId}": {
      "put": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Update subscription peering",
        "description": "Update an existing VPC peering in an existing subscription.",
        "operationId": "updateVpcPeering",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "peeringId",
            "in": "path",
            "description": "VpcPeering Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VpcPeeringUpdateAwsRequest"
              },
              "example": {
                "vpcCidrs": [
                  "<10.10.10.0/24>",
                  "<10.10.20.0/24>"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "delete": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Delete subscription peering",
        "description": "Deletes a VPC peering identified by an id",
        "operationId": "deleteVpcPeering",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "peeringId",
            "in": "path",
            "description": "VpcPeering Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/maintenance-windows": {
      "get": {
        "tags": [
          "Subscriptions - Pro"
        ],
        "summary": "Get subscription maintenance windows",
        "description": "Get maintenance windows for subscription",
        "operationId": "getSubscriptionMaintenanceWindows",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionMaintenanceWindows"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "put": {
        "tags": [
          "Subscriptions - Pro"
        ],
        "summary": "Update subscription maintenance windows",
        "description": "Update maintenance windows for subscription",
        "operationId": "updateSubscriptionMaintenanceWindows",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionMaintenanceWindowsSpec"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/databases/{databaseId}": {
      "get": {
        "tags": [
          "Databases - Pro"
        ],
        "summary": "Get database by id",
        "description": "Information on a specific database identified by subscription Id and database Id",
        "operationId": "getSubscriptionDatabaseByID",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "databaseId",
            "in": "path",
            "description": "Database Id",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Database"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "put": {
        "tags": [
          "Databases - Pro"
        ],
        "summary": "Update database",
        "description": "Update an existing database",
        "operationId": "updateDatabase",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "databaseId",
            "in": "path",
            "description": "Database Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatabaseUpdateRequest"
              },
              "example": {
                "dryRun": false,
                "name": "Redis-database-example",
                "datasetSizeInGb": 5,
                "throughputMeasurement": {
                  "by": "operations-per-second",
                  "value": 10000
                },
                "dataPersistence": "none",
                "dataEvictionPolicy": "allkeys-lru",
                "alerts": [
                  {
                    "name": "dataset-size",
                    "value": 85
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "delete": {
        "tags": [
          "Databases - Pro"
        ],
        "summary": "Delete database",
        "description": "Delete a specific database identified by subscription Id and database Id",
        "operationId": "deleteDatabaseById",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "databaseId",
            "in": "path",
            "description": "Database Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/databases/{databaseId}/tags": {
      "get": {
        "tags": [
          "Databases - Pro"
        ],
        "summary": "Get database tags",
        "description": "Get database tags for a given resource",
        "operationId": "getTags",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "databaseId",
            "in": "path",
            "description": "Database Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudTags"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "put": {
        "tags": [
          "Databases - Pro"
        ],
        "summary": "Override database tags",
        "description": "Override database tags for a given resource",
        "operationId": "updateTags",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "databaseId",
            "in": "path",
            "description": "Database Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatabaseTagsUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudTags"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "post": {
        "tags": [
          "Databases - Pro"
        ],
        "summary": "Add database tags",
        "description": "Add single database tag for a given resource",
        "operationId": "createTag",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "databaseId",
            "in": "path",
            "description": "Database Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatabaseTagCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudTag"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to create requested resource (primarily due to not active resource)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with the new name"
          },
          "422": {
            "description": "Unprocessable Entity - The server understands the request, and the syntax of the request is correct, but it was unable to process the contained instructions"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/databases/{databaseId}/tags/{tagKey}": {
      "put": {
        "tags": [
          "Databases - Pro"
        ],
        "summary": "Update database tag by key",
        "description": "Update single database tag for a given resource by tag key",
        "operationId": "updateTag",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "databaseId",
            "in": "path",
            "description": "Database Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tagKey",
            "in": "path",
            "description": "Tag key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatabaseTagUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudTag"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "delete": {
        "tags": [
          "Databases - Pro"
        ],
        "summary": "Delete database tag by key",
        "description": "Delete database tag for a given resource by tag key",
        "operationId": "deleteTag",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "databaseId",
            "in": "path",
            "description": "Database Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tagKey",
            "in": "path",
            "description": "Tag key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "environment"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
[...]
