{
  "openapi": "3.0.1",
  "info": {
    "title": "Redis Cloud API",
    "description": "Redis Cloud API",
    "contact": {
      "name": "Customer Support",
      "url": "https://support.redislabs.com",
      "email": "support@redis.com"
    },
    "version": "Version 1"
  },
  "externalDocs": {
    "description": "Redis Cloud API Documentation",
    "url": "https://docs.redislabs.com/latest/rc/api/"
  },
  "servers": [
    {
      "url": "https://api.redislabs.com/v1"
    }
  ],
  "security": [
    {
      "x-api-key": [],
      "x-api-secret-key": [],
      "X-Auth-Token": []
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Current account details.",
      "x-order": "0"
    },
    {
      "name": "Subscriptions - Pro",
      "description": "All Pro subscription operations.",
      "x-order": "10"
    },
    {
      "name": "Subscriptions - Pro - Connectivity",
      "description": "All Pro subscription connectivity operations.",
      "x-order": "11"
    },
    {
      "name": "Databases - Pro",
      "description": "All Pro database operations.",
      "x-order": "20"
    },
    {
      "name": "Subscriptions - Essentials",
      "description": "All Essentials subscription operations.",
      "x-order": "30"
    },
    {
      "name": "Databases - Essentials",
      "description": "All Essentials database operations.",
      "x-order": "40"
    },
    {
      "name": "Role-based Access Control (RBAC)",
      "description": "All operations for [Role-based Access Control](https://redis.io/docs/latest/operate/rc/security/access-control/data-access-control/role-based-access-control/) (RBAC).",
      "x-order": "50"
    },
    {
      "name": "Cloud Accounts",
      "description": "All operations related to cloud accounts (AWS only).",
      "x-order": "60"
    },
    {
      "name": "Users",
      "description": "Data and operations related to account's users",
      "x-order": "70"
    },
    {
      "name": "Tasks",
      "description": "Tracks asynchronous background operations. See [API request lifecycle](https://redis.io/docs/latest/operate/rc/api/get-started/process-lifecycle/) for more information.",
      "x-order": "80"
    }
  ],
  "paths": {
    "/users/{userId}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get a single user",
        "description": "Gets details about a single account user.",
        "operationId": "getUserById",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountUser"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update a user",
        "description": "Updates an account user's name or role.",
        "operationId": "updateUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUserUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete user",
        "description": "Deletes a user from this account.",
        "operationId": "deleteUserById",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}": {
      "get": {
        "tags": [
          "Subscriptions - Pro"
        ],
        "summary": "Get a single Pro subscription",
        "description": "Gets information on the specified Pro subscription.",
        "operationId": "getSubscriptionById",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "put": {
        "tags": [
          "Subscriptions - Pro"
        ],
        "summary": "Update Pro subscription",
        "description": "Updates the specified Pro subscription.",
        "operationId": "updateSubscription",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseSubscriptionUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "delete": {
        "tags": [
          "Subscriptions - Pro"
        ],
        "summary": "Delete Pro subscription",
        "description": "Delete the specified Pro subscription. All databases in the subscription must be deleted before deleting it.",
        "operationId": "deleteSubscriptionById",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/transitGateways/{TgwId}/attachment": {
      "put": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Update a transit gateway attachment",
        "description": "Updates the specified AWS transit gateway attachment.",
        "operationId": "updateTgwAttachmentCidrs",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "TgwId",
            "in": "path",
            "description": "AWS transit gateway ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TgwUpdateCidrsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "post": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Create a transit gateway attachment",
        "description": "Creates an AWS transit gateway attachment.",
        "operationId": "createTgwAttachment",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "TgwId",
            "in": "path",
            "description": "AWS transit gateway ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to create requested resource (primarily due to not active resource)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with the new name"
          },
          "422": {
            "description": "Unprocessable Entity - The server understands the request, and the syntax of the request is correct, but it was unable to process the contained instructions"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "delete": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Delete a transit gateway attachment",
        "description": "Deletes the specified AWS transit gateway attachment.",
        "operationId": "deleteTgwAttachment",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "TgwId",
            "in": "path",
            "description": "AWS transit gateway ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/transitGateways/invitations/{tgwInvitationId}/reject": {
      "put": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Reject a transit gateway resource share",
        "description": "Rejects the specified AWS transit gateway resource share.",
        "operationId": "rejectTgwResourceShare",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tgwInvitationId",
            "in": "path",
            "description": "AWS transit gateway invitation ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/transitGateways/invitations/{tgwInvitationId}/accept": {
      "put": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Accept a transit gateway resource share",
        "description": "Accepts the specified AWS transit gateway resource share.",
        "operationId": "acceptTgwResourceShare",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tgwInvitationId",
            "in": "path",
            "description": "AWS transit gateway invitation ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/regions/{regionId}/transitGateways/{TgwId}/attachment": {
      "put": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Update a specific region transit gateway attachment",
        "description": "(Active-Active subscriptions only) Updates the specified AWS transit gateway attachment for one region in an Active-Active subscription.",
        "operationId": "updateActiveActiveTgwAttachmentCidrs",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "regionId",
            "in": "path",
            "description": "Region ID - required for Active-Active subscription",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "TgwId",
            "in": "path",
            "description": "AWS transit gateway ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActiveActiveTgwUpdateCidrsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "post": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Create a transit gateway attachment for a specific region",
        "description": "(Active-Active subscriptions only) Creates an AWS transit gateway attachment for one region in an Active-Active subscription.",
        "operationId": "createActiveActiveTgwAttachment",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "regionId",
            "in": "path",
            "description": "Region ID - required for Active-Active subscription",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "TgwId",
            "in": "path",
            "description": "AWS transit gateway ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to create requested resource (primarily due to not active resource)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with the new name"
          },
          "422": {
            "description": "Unprocessable Entity - The server understands the request, and the syntax of the request is correct, but it was unable to process the contained instructions"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "delete": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Delete a transit gateway attachment for a specific region",
        "description": "(Active-Active subscriptions only) Deletes the specified AWS transit gateway attachment for one region in an Active-Active subscription.",
        "operationId": "deleteActiveActiveTgwAttachment",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "regionId",
            "in": "path",
            "description": "Region ID - required for Active-Active subscription",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "TgwId",
            "in": "path",
            "description": "AWS transit gateway ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/regions/{regionId}/transitGateways/invitations/{tgwInvitationId}/accept": {
      "put": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Accept a transit gateway resource share for a specific region",
        "description": "(Active-Active subscriptions only) Accepts the specified AWS transit gateway resource share for one region in an Active-Active subscription.",
        "operationId": "acceptActiveActiveTgwResourceShare",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "regionId",
            "in": "path",
            "description": "Region ID - required for Active-Active subscription",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "tgwInvitationId",
            "in": "path",
            "description": "AWS transit gateway invitation ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/regions/{regionId}/private-service-connect/{pscServiceId}/endpoints/{endpointId}": {
      "put": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Update a Private Service Connect endpoint for a single region",
        "description": "(Active-Active subscriptions only) Updates a Private Service Connect endpoint for a single region in an Active-Active subscription.",
        "operationId": "updateActiveActivePscServiceEndpoint",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pscServiceId",
            "in": "path",
            "description": "Private Service Connect service ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "regionId",
            "in": "path",
            "description": "Region ID - required for Active-Active subscription",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "description": "Private Service Connect endpoint ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActiveActivePscEndpointUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "delete": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Delete a Private Service Connect endpoint for a single region",
        "description": "(Active-Active subscriptions only) Deletes the specified Private Service Connect endpoint for a single region in an Active-Active subscription.",
        "operationId": "deleteActiveActivePscServiceEndpoint",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pscServiceId",
            "in": "path",
            "description": "Private Service Connect service ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "regionId",
            "in": "path",
            "description": "Region ID - required for Active-Active subscription",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "description": "Private Service Connect endpoint ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/regions/peerings/{peeringId}": {
      "put": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Update Active-Active VPC peering",
        "description": "(Active-Active subscriptions only) Updates VPC peering for Active-Active subscription.",
        "operationId": "updateActiveActiveVpcPeering",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "peeringId",
            "in": "path",
            "description": "VPC Peering ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActiveActiveVpcPeeringUpdateAwsRequest"
              },
              "example": {
                "vpcCidrs": [
                  "<10.10.10.0/24>",
                  "<10.10.20.0/24>"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "delete": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Delete Active-Active VPC peering",
        "description": "(Active-Active subscriptions only) Deletes VPC peering for an Active-Active subscription.",
        "operationId": "deleteActiveActiveVpcPeering",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "peeringId",
            "in": "path",
            "description": "VPC Peering ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/private-service-connect/{pscServiceId}/endpoints/{endpointId}": {
      "put": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Update a Private Service Connect endpoint",
        "description": "Updates the specified Private Service Connect endpoint.",
        "operationId": "updatePscServiceEndpoint",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pscServiceId",
            "in": "path",
            "description": "Private Service Connect service ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "description": "Private Service Connect endpoint ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PscEndpointUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "delete": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Delete a Private Service Connect endpoint",
        "description": "Deletes the specified Private Service Connect endpoint.",
        "operationId": "deletePscServiceEndpoint",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pscServiceId",
            "in": "path",
            "description": "Private Service Connect service ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "description": "Private Service Connect endpoint ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/peerings/{peeringId}": {
      "put": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Update VPC peering",
        "description": "Updates VPC peering for the specified subscription.",
        "operationId": "updateVpcPeering",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "peeringId",
            "in": "path",
            "description": "VPC Peering ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VpcPeeringUpdateAwsRequest"
              },
              "example": {
                "vpcCidrs": [
                  "<10.10.10.0/24>",
                  "<10.10.20.0/24>"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "delete": {
        "tags": [
          "Subscriptions - Pro - Connectivity"
        ],
        "summary": "Delete VPC peering",
        "description": "Deletes the specified VPC peering.",
        "operationId": "deleteVpcPeering",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "peeringId",
            "in": "path",
            "description": "VPC Peering ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/maintenance-windows": {
      "get": {
        "tags": [
          "Subscriptions - Pro"
        ],
        "summary": "Get Pro subscription maintenance windows",
        "description": "Gets maintenance windows for the specified Pro subscription.",
        "operationId": "getSubscriptionMaintenanceWindows",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionMaintenanceWindows"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "put": {
        "tags": [
          "Subscriptions - Pro"
        ],
        "summary": "Update Pro subscription maintenance windows",
        "description": "Updates maintenance windows for the specified Pro subscription.",
        "operationId": "updateSubscriptionMaintenanceWindows",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionMaintenanceWindowsSpec"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/databases/{databaseId}": {
      "get": {
        "tags": [
          "Databases - Pro"
        ],
        "summary": "Get a single Pro database",
        "description": "Gets details and settings of a single database in a Pro subscription.",
        "operationId": "getSubscriptionDatabaseByID",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "databaseId",
            "in": "path",
            "description": "Database ID.",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Database"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "put": {
        "tags": [
          "Databases - Pro"
        ],
        "summary": "Update Pro database",
        "description": "Updates an existing Pro database.",
        "operationId": "updateDatabase",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "databaseId",
            "in": "path",
            "description": "Database ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatabaseUpdateRequest"
              },
              "example": {
                "dryRun": false,
                "name": "Redis-database-example",
                "datasetSizeInGb": 5,
                "throughputMeasurement": {
                  "by": "operations-per-second",
                  "value": 10000
                },
                "dataPersistence": "none",
                "dataEvictionPolicy": "allkeys-lru",
                "alerts": [
                  {
                    "name": "dataset-size",
                    "value": 85
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "delete": {
        "tags": [
          "Databases - Pro"
        ],
        "summary": "Delete Pro database",
        "description": "Deletes a database from a Pro subscription.",
        "operationId": "deleteDatabaseById",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "databaseId",
            "in": "path",
            "description": "Database ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStateUpdate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/databases/{databaseId}/tags": {
      "get": {
        "tags": [
          "Databases - Pro"
        ],
        "summary": "Get database tags",
        "description": "Gets a list of all database tags.",
        "operationId": "getTags",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "databaseId",
            "in": "path",
            "description": "Database ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudTags"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "put": {
        "tags": [
          "Databases - Pro"
        ],
        "summary": "Overwrite database tags",
        "description": "Overwrites all tags on the database.",
        "operationId": "updateTags",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "databaseId",
            "in": "path",
            "description": "Database ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatabaseTagsUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudTags"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "post": {
        "tags": [
          "Databases - Pro"
        ],
        "summary": "Add a database tag",
        "description": "Adds a single database tag to a database.",
        "operationId": "createTag",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "databaseId",
            "in": "path",
            "description": "Database ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatabaseTagCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudTag"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to create requested resource (primarily due to not active resource)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with the new name"
          },
          "422": {
            "description": "Unprocessable Entity - The server understands the request, and the syntax of the request is correct, but it was unable to process the contained instructions"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/databases/{databaseId}/tags/{tagKey}": {
      "put": {
        "tags": [
          "Databases - Pro"
        ],
        "summary": "Update database tag value",
        "description": "Updates the value of the specified database tag.",
        "operationId": "updateTag",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "databaseId",
            "in": "path",
            "description": "Database ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tagKey",
            "in": "path",
            "description": "Tag Key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatabaseTagUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudTag"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed for requested resource"
          },
          "403": {
            "description": "Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)"
          },
          "404": {
            "description": "Not Found - The resource you were trying to reach was not found or does not exist"
          },
          "408": {
            "description": "Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period"
          },
          "409": {
            "description": "Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)"
          },
          "429": {
            "description": "Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)"
          },
          "500": {
            "description": "Internal system error - If this error persists, please contact customer support"
          },
          "503": {
            "description": "Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support "
          }
        }
      },
      "delete": {
        "tags": [
          "Databases - Pro"
        ],
        "summary": "Delete database tag",
        "description": "Removes the specified tag from the database.",
        "operationId": "deleteTag",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "databaseId",
            "in": "path",
            "description": "Database ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tagKey",
            "in": "path",
            "description": "Tag Key.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "environment"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - The server cannot process the request due to something that is perceived to be a client error"
          },
          "412": {
            "description": "Precondition Failed - Feature flag for this flow is off"
          },
          "200": {
[...]
