{{ define "head" }}
  <script src='{{ relURL "" }}/js/codetabs.js' defer></script>
{{ end }}

{{ define "main" }}
  <main class="docs w-full max-w-[1920px] mx-auto px-5 flex flex-col md:flex-row overflow-hidden">
    {{ partial "docs-nav.html" . }}
    <div class="py-12 md:pl-4 xl:px-16 overflow-hidden">
      {{ partial "breadcrumbs" . }}
      <section class="prose w-full py-12 max-w-none">
        <h1>
          {{ if and (isset .Params "stack") (eq .Params.stack true)}}
          {{ partial "icons/logo-stack.html" (dict "context" . "class" "stack-logo-inline") }}
          {{ end }}
          {{ .Title }}</h1>
        {{ with .Params.description }}<p class="text-lg -mt-5 mb-10">{{ . | markdownify }}</p>{{ end }}
       {{ if .Params.categories }}
<div class="post-categories">
  <h3>This content is applicable to the following:</h3>
  <table>
    {{ range .Params.categories }}
    {{ if not (in (slice "docs" "operate" "integrate" "develop") .) }} <!-- Check if the category should be excluded -->
    <tr>
      {{ $displayName := . }} <!-- Default display name is the category name -->
      {{ if eq . "rs" }}
        {{ $displayName = "Redis Enterprise Software" }} <!-- Change display name for 'rs' -->
      {{ else if eq . "rc" }}
        {{ $displayName = "Redis Cloud" }} <!-- Change display name for 'rc' -->
      {{ else if eq . "kubernetes" }}
        {{ $displayName = "Redis Enterprise for Kubernetes" }} <!-- Change display name for 'kubernetes' -->
      {{ else if eq . "oss" }}
        {{ $displayName = "Redis Source Available" }} <!-- Change display name for 'oss' -->
      {{ end }}
      <td>{{ $displayName }}</td>
    </tr>
    {{ end }}
    {{ end }}
  </table>
</div>
{{ end }}


        <!-- In-page banner -->
        {{ if .Params.bannerText }}
          <!-- Banner params are in the current page's front matter -->
          {{ partial "banner-article.html" . }}
        {{ else }}
          <!-- Iterate through the page's ancestors to determine if a 
            section-wide banner is enabled by a parent page's front matter -->
          {{ $ancestorDirs := slice }}
          {{ with .File }}
            {{ $ancestorDirs = split .File.Dir "/" }}
          {{ end }}
          {{ $currPage := .Page }}
          {{ range $i, $page := $ancestorDirs }}
            {{ if and $currPage.Params.bannerText $currPage.Params.bannerChildren }}
              {{ partial "banner-article.html" $currPage }}
            {{ end }}
            {{ $currPage = $currPage.Parent }}
          {{ end }}
        {{ end }}
        
        {{ .Content }}
        {{ partial "feedback.html" . }}
      </section>
    </div>
    {{ partial "docs-toc.html" . }}
  </main>
{{ end }}
