/* the contents of index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

[class*=button-] {
  @apply transition-colors shrink-0 focus:outline-none focus:ring-2 focus:ring-offset-2;
}

.button-indigo {
  @apply text-white border border-solid border-transparent bg-redis-indigo-500 hover:bg-redis-indigo-600 focus:bg-indigo-600 focus:ring-indigo-600;
}

.button-outline {
  @apply relative hover:bg-transparent hover:text-indigo-600 focus:text-indigo-600 focus:ring-indigo-600 hover:after:opacity-100 focus:after:opacity-100;
}

.button-outline:after {
  @apply content-[''] absolute inset-0 opacity-50 border border-current rounded-[inherit] transition-opacity;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply font-semibold text-midnight-700 tracking-[-0.04em];
}

.prose p, .prose ol, .prose ul {
  @apply text-redis-neutral-800;
}

.prose pre {
  @apply bg-slate-900 rounded-lg;
}

.prose pre > code {
  @apply bg-none;
}

.prose h1 {
  @apply text-3xl;
}

.prose h1[id],
.prose h2[id],
.prose h3[id],
.prose h4[id],
.prose h5[id],
.prose h6[id] {
  @apply mt-11 scroll-mt-6;
}

.prose p:empty,
.prose li:empty {
  @apply hidden;
}

.prose :where(code):not(:where([class~="not-prose"] *)):before,
.prose :where(code):not(:where([class~="not-prose"] *)):after {
  content: "";
}

.prose :where(a):not(:where([class~="not-prose"] *)) {
  @apply text-indigo-500 decoration-transparent;
}

.prose :where(a):not(:where([class~="not-prose"] *)):hover {
  @apply text-indigo-700 decoration-indigo-400;
}

select {
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  print-color-adjust: exact;
  background-position: right 0.75rem center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
}

#TableOfContents a {
  @apply relative block hover:text-indigo-600 py-0.5 pl-4 transition-colors leading-6;
}

#TableOfContents a:before {
  content: '';
  @apply w-[3px] h-full bg-slate-100 absolute left-0 top-0 rounded-xl transition;
}

#TableOfContents a.active {
  @apply text-indigo-600 before:bg-indigo-600 pointer-events-none;
}

/* search */
.search-active {
  @apply overflow-hidden !important;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.search-loading-indicator svg {
  @apply hidden;
}

.search-loading-indicator {
  display: none;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Ccircle cx='12' cy='12' r='9' stroke-width='2' stroke='%23e0e7ff' /%3E%3Cpath d='M3,12a9,9 0 1,0 18,0a9,9 0 1,0 -18,0' stroke-width='2' stroke='%236466f1' stroke-dasharray='56.5486677646' stroke-dashoffset='37.6991118431' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 100% 100%;
  animation: rotating 1s linear infinite;
}

.search-container.stalled .search-loading-indicator {
  @apply block;
}

.search-modal {
  margin: 0 auto;
  width: 100%;
  max-width: 47.375rem;
  display: flex;
  flex-direction: column;
  min-height: 0;
  border-radius: theme('borderRadius.lg');
  box-shadow: theme('boxShadow.lg');
  background: white;
}

.search-bar {
  z-index: 1;
  padding: 0 1rem;
  @apply flex-none relative flex items-center border-b border-slate-100;
}

.search-form {
  @apply flex-auto flex items-center min-w-0;
}

.search-magnifier-label {
  @apply flex-none w-6 h-6;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m19 19-3.5-3.5' stroke='%23475569' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='11' cy='11' r='6' stroke='%23475569' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.search-magnifier-label svg {
  display: none;
}

.search-container.stalled .search-magnifier-label {
  display: none;
}

.search-input {
  appearance: none;
  background: transparent;
  height: 3.5rem;
  font-size: 1rem;
  color: theme('colors.slate.900');
  margin-left: 0.75rem;
  margin-right: 1rem;
  flex: auto;
  min-width: 0;
}

@screen sm {
  .search-input {
    font-size: 0.875rem;
  }
}

.search-input:focus {
  outline: 2px dotted transparent;
}

.search-input::-webkit-search-cancel-button,
.search-input::-webkit-search-decoration,
.search-input::-webkit-search-results-button,
.search-input::-webkit-search-results-decoration {
  display: none;
}

.child-list {
  @apply relative;
}

.child-list:before {
  content: '';
  @apply w-[3px] h-full bg-slate-300/30 absolute left-0 top-0 rounded-xl transition;
}

.child-list .child-list {
  @apply ml-4;
}

.child-list a {
  @apply relative flex hover:text-indigo-600 py-0.5 pl-4 transition-colors leading-6;
}

.child-list a:before {
  content: '';
  @apply w-[3px] h-full bg-transparent absolute left-0 top-0 rounded-xl transition;
}

.child-list a.active {
  @apply before:bg-indigo-600 pointer-events-none;
}

#search-cancel {
  appearance: none;
  flex: none;
  font-size: 0;
  border-radius: 0.375rem;
  padding: 0.25rem 0.375rem;
  @apply ring-1 ring-slate-900/10 shadow-sm hover:ring-slate-900/10 hover:shadow;
  width: 1.75rem;
  height: 1.5rem;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.506 6h3.931V4.986H1.736v-1.39h2.488V2.583H1.736V1.196h2.69V.182H.506V6ZM8.56 1.855h1.18C9.721.818 8.87.102 7.574.102c-1.276 0-2.21.705-2.205 1.762-.003.858.602 1.35 1.585 1.585l.634.159c.633.153.986.335.988.727-.002.426-.406.716-1.03.716-.64 0-1.1-.295-1.14-.878h-1.19c.03 1.259.931 1.91 2.343 1.91 1.42 0 2.256-.68 2.259-1.745-.003-.969-.733-1.483-1.744-1.71l-.523-.125c-.506-.117-.93-.304-.92-.722 0-.375.332-.65.934-.65.588 0 .949.267.994.724ZM15.78 2.219C15.618.875 14.6.102 13.254.102c-1.537 0-2.71 1.086-2.71 2.989 0 1.898 1.153 2.989 2.71 2.989 1.492 0 2.392-.992 2.526-2.063l-1.244-.006c-.117.623-.606.98-1.262.98-.883 0-1.483-.656-1.483-1.9 0-1.21.591-1.9 1.492-1.9.673 0 1.159.389 1.253 1.028h1.244Z' fill='%23334155'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 57.1428571429% auto;
}

#search-results {
  @apply flex-auto overflow-auto pb-6 text-slate-700 font-normal min-h-[12.5rem] relative;
}

.search-item .search-item-icon {
  display: block;
  flex: none;
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24' stroke='%2394A3B8' stroke-width='1.5'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
}

.search-item:not([aria-selected]):hover .search-item-icon,
.search-item:not([aria-selected]):focus-within .search-item-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24' stroke='%23818CF8' stroke-width='1.5'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z' /%3E%3C/svg%3E");
}

.search-item[aria-selected] .search-item-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24' stroke='%23C7D2FE' stroke-width='1.5'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z' /%3E%3C/svg%3E");
}

.search-item + .search-item {
  @apply mt-2;
}

.search-item {
  @apply bg-slate-50 rounded-xl mx-6 relative text-slate-700;
}

.search-item[aria-selected] {
  @apply bg-indigo-500 text-white;
}

.search-item:not([aria-selected]):hover,
.search-item:not([aria-selected]):focus-within {
  @apply bg-indigo-100 text-indigo-500;
}

.search-item > a {
  @apply relative w-full p-4 grid grid-cols-[auto,1fr,auto] items-center;
  font-size: 0.875rem;
}

.search-item-content {
  @apply flex flex-col;
}

.search-item-source {
  line-height: 1.5rem;
  font-weight: 600;
  color: theme('colors.slate.900');
  padding-top: 2rem;
  margin: 0 1.5rem 1rem;
}

.search-item-path {
  grid-column-start: 2;
  align-self: flex-start;
  margin-right: auto;
  font-size: 0.75rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.search-item-title {
  @apply col-start-2 leading-6 truncate;
}

.search-item-title + .search-item-path {
  @apply mb-1;
}

.search-term-match {
  @apply font-semibold text-indigo-500 underline underline-offset-2 decoration-2 decoration-indigo-200;
}

[aria-selected] .search-term-match {
  @apply text-white;
}

.search-item-action {
  @apply flex-none ml-3.5 w-6 h-6;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11 9 3 3-3 3' stroke='%23475569' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

[aria-selected] .search-item-action {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11 9 3 3-3 3' stroke='%23C7D2FE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.search-item:not([aria-selected]):hover .search-item-action,
.search-item:not([aria-selected]):focus-within .search-item-action {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11 9 3 3-3 3' stroke='%236466F1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.search-footer {
  @apply flex-none flex justify-end border-t border-slate-100 py-4 px-6;
}

.search-footer a {
  @apply flex items-center text-slate-400 text-xs font-medium;
}

.search-footer svg {
  @apply w-6 h-auto ml-2 text-red-600;
}

.search-title {
  @apply text-lg leading-6 mb-10;
}

.search-title strong {
  @apply text-slate-900 font-normal;
}

.search-no-results {
  @apply absolute inset-0 flex justify-center items-center text-slate-400 text-lg leading-6;
}

.search-no-results .search-title {
  @apply text-slate-900 mb-0;
}

.redis-cli {
  @apply font-mono bg-slate-900 h-80 overflow-y-scroll text-neutral-50 px-4 py-2 rounded-b-xl;
}

.redis-cli > pre {
  white-space: pre-wrap;
}

.prose .redis-cli {
  @apply h-auto;
}

.prose .redis-cli > pre {
  @apply text-neutral-50 bg-transparent m-0 p-0;
}

.prose .redis-cli > .prompt {
  font-size: 0.875em;
}

.redis-cli > .prompt {
  display: flex;
}

.redis-cli > .prompt > span {
  white-space: pre-wrap;
}

.redis-cli > .prompt > input {
  flex: 1 1 auto;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
}

.page-feedback {
  @apply flex flex-col mx-12;
}

.feedback-submit {
  @apply grid gap-2;
}

.star-rating {
  @apply flex flex-row-reverse justify-around text-center text-xl items-center; 
}

.star-rating input {
  @apply hidden;
}

.star-rating label {
  @apply cursor-pointer text-neutral-400;
}

.star-rating :checked ~ label {
  @apply text-orange-400;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  @apply text-yellow-400;
}      

.codetabs .label {
  min-width: 4rem;
}

.codetabs .radiotab:focus + .label {
  @apply bg-transparent text-indigo-600;
}

.codetabs .radiotab:checked + .label {
  @apply bg-slate-900 border-slate-900 not-italic;
}

.codetabs .radiotab:checked + .label + .panel {
  @apply block;
}

.codetabs > .panel .highlight > .chroma {
  @apply rounded-tl-none m-0;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.codetabs > .panel .highlight .chroma > .lntable td:first-child .chroma {
  @apply rounded-none p-0;
}

.codetabs > .panel .highlight .chroma > .lntable td:last-child .chroma {
  @apply rounded-none p-0;
}

.codetabs > .panel:not([aria-expanded]) .highlight .chroma > code > .line:not(.hl),
.codetabs > .panel:not([aria-expanded]) .highlight .chroma > .lntable .lntd code > .lnt,
.codetabs > .panel:not([aria-expanded]) .highlight .chroma > .lntable .lntd code > .line:not(.hl) {
  @apply hidden;
}

.codetabs > .panel:where([aria-expanded]) .highlight .chroma > code > .line:not(.hl),
.codetabs > .panel:where([aria-expanded]) .highlight .chroma > .lntable .lntd code > .lnt,
.codetabs > .panel:where([aria-expanded]) .highlight .chroma > .lntable .lntd code > .line:not(.hl) {
  @apply opacity-60;
}

.codetabs > .panel .highlight .chroma > code > .hl,
.codetabs > .panel .highlight .chroma > .lntable .lntd code > .hl {
  @apply bg-inherit;
}

.codetabs > .panel:where([aria-expanded]) #visibility-on,
.codetabs > .panel:not([aria-expanded]) #visibility-off {
  @apply hidden;
}

.codetabs > .panel:where([aria-expanded]) #visibility-off,
.codetabs > .panel:not([aria-expanded]) #visibility-on {
  @apply block;
}

.download-cards {
  @apply space-y-6 lg:space-y-0 max-w-[47rem] lg:max-w-full mx-auto lg:mx-0 lg:grid grid-cols-2 gap-x-6 items-start mb-[3.25rem];
}

.download-details {
  @apply w-full max-w-[47rem] mx-auto;
}

#download-redis,
#download-redis-stack {
  @apply px-9 h-full py-8 bg-white border border-slate-900/10 bg-clip-padding shadow-md shadow-slate-900/5 rounded-lg;
}

#download-redis > h2,
#download-redis-stack > h2 {
  @apply mt-0;
}

#download-redis > h2:before,
#redis-downloads:before {
  content: '';
  background-image: url("/images/redis-cube.svg");
  @apply inline-block bg-contain bg-no-repeat bg-center align-middle mr-3;
}

#download-redis-stack > h2:before,
#redis-stack-downloads:before {
  content: '';
  background-image: url("/images/stack-icon.svg");
  @apply inline-block bg-contain bg-no-repeat bg-center align-middle mr-3;
}

#download-redis > h2:before,
#download-redis-stack > h2:before {
  @apply w-10 h-10;
}

#download-redis > h3,
#download-redis-stack > h3 {
  @apply mt-2;
}

#redis-downloads,
#redis-stack-downloads {
  @apply border-b pb-2;
}

#redis-downloads:before,
#redis-stack-downloads:before {
  @apply w-8 h-8;
}

main.docs:before,
main.docs:after,
main.download:before,
main.download:after {
  content: '';
  @apply w-80 h-80 fixed right-0 bottom-0 z-[-1] bg-contain bg-no-repeat bg-center;
}

main.docs:before,
main.download:before {
  background-image: url("/images/dots.svg");
}

main.docs:after,
main.download:after {
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, .875), rgba(255, 255, 255, .35));
}

#alpha-filter-container .active {
  @apply bg-indigo-50 text-indigo-600 border-indigo-200;
}

html {
  scrollbar-gutter: stable;
}

/* Chroma syntax highlighting
/* Background */
.bg {
  @apply text-slate-50 bg-slate-900;
}

/* PreWrapper */
.chroma {
  @apply p-4 overflow-x-auto text-slate-50 bg-slate-900 rounded-md;
}

/* Other */
.chroma .x {}

/* Error */
.chroma .err {
  @apply text-red-600;
}

/* CodeLine */
.chroma .cl {}

/* LineLink */
.chroma .lnlinks {
  @apply outline-none text-inherit no-underline;
}

/* LineTableTD */
.chroma .lntd {
  @apply align-top p-0 m-0 border-0;
}

.chroma .lntd:last-child {
  @apply flex-1;
}

/* LineTable */
.chroma .lntable {
  @apply p-0 m-0 border-0 min-w-full;
}

/* LineHighlight */
.chroma .hl {
  @apply flex bg-indigo-900/80;
}

/* LineNumbersTable */
.chroma .lnt {
  @apply text-slate-400 whitespace-pre pl-2 pr-4;
}

/* LineNumbers */
.chroma .ln {
  @apply text-slate-400 whitespace-pre px-4;
}

.chroma .lntable tr {
  @apply flex items-stretch;
}

/* Line */
.chroma .line {
  @apply flex;
}

/* Keyword */
.chroma .k {
  @apply text-red-400;
}

/* KeywordConstant */
.chroma .kc {
  @apply text-blue-400;
}

/* KeywordDeclaration */
.chroma .kd {
  @apply text-red-400;
}

/* KeywordNamespace */
.chroma .kn {
  @apply text-red-400;
}

/* KeywordPseudo */
.chroma .kp {
  @apply text-blue-400;
}

/* KeywordReserved */
.chroma .kr {
  @apply text-red-400;
}

/* KeywordType */
.chroma .kt {
  @apply text-red-400;
}

/* Name */
.chroma .n {}

/* NameAttribute */
.chroma .na {}

/* NameBuiltin */
.chroma .nb {}

/* NameBuiltinPseudo */
.chroma .bp {}

/* NameClass */
.chroma .nc {
  @apply text-orange-400 font-bold;
}

/* NameConstant */
.chroma .no {
  @apply text-blue-400 font-bold;
}

/* NameDecorator */
.chroma .nd {
  @apply text-purple-300 font-bold;
}

/* NameEntity */
.chroma .ni {
  @apply text-orange-400;
}

/* NameException */
.chroma .ne {
  @apply text-orange-400 font-bold;
}

/* NameFunction */
.chroma .nf {
  @apply text-purple-300 font-bold;
}

/* NameFunctionMagic */
.chroma .fm {}

/* NameLabel */
.chroma .nl {
  @apply text-blue-400 font-bold;
}

/* NameNamespace */
.chroma .nn {
  @apply text-red-400;
}

/* NameOther */
.chroma .nx {}

/* NameProperty */
.chroma .py {
  @apply text-blue-400;
}

/* NameTag */
.chroma .nt {
  @apply text-green-400;
}

/* NameVariable */
.chroma .nv {
  @apply text-blue-400
}

/* NameVariableClass */
.chroma .vc {}

/* NameVariableGlobal */
.chroma .vg {}

/* NameVariableInstance */
.chroma .vi {}

/* NameVariableMagic */
.chroma .vm {}

/* Literal */
.chroma .l {
  @apply text-blue-400;
}

/* LiteralDate */
.chroma .ld {
  @apply text-blue-400;
}

/* LiteralString */
.chroma .s {
  @apply text-blue-400;
}

/* LiteralStringAffix */
.chroma .sa {
  @apply text-blue-400
}

/* LiteralStringBacktick */
.chroma .sb {
  @apply text-blue-400;
}

/* LiteralStringChar */
.chroma .sc {
  @apply text-blue-400;
}

/* LiteralStringDelimiter */
.chroma .dl {
  @apply text-blue-400
}

/* LiteralStringDoc */
.chroma .sd {
  @apply text-blue-400;
}

/* LiteralStringDouble */
.chroma .s2 {
  @apply text-blue-400;
}

/* LiteralStringEscape */
.chroma .se {
  @apply text-blue-400
}

/* LiteralStringHeredoc */
.chroma .sh {
  @apply text-blue-400
}

/* LiteralStringInterpol */
.chroma .si {
  @apply text-blue-400;
}

/* LiteralStringOther */
.chroma .sx {
  @apply text-blue-400;
}

/* LiteralStringRegex */
.chroma .sr {
  @apply text-blue-400
}

/* LiteralStringSingle */
.chroma .s1 {
  @apply text-blue-400;
}

/* LiteralStringSymbol */
.chroma .ss {
  @apply text-blue-400;
}

/* LiteralNumber */
.chroma .m {
  @apply text-blue-400;
}

/* LiteralNumberBin */
.chroma .mb {
  @apply text-blue-400;
}

/* LiteralNumberFloat */
.chroma .mf {
  @apply text-blue-400;
}

/* LiteralNumberHex */
.chroma .mh {
  @apply text-blue-400;
}

/* LiteralNumberInteger */
.chroma .mi {
  @apply text-blue-400;
}

/* LiteralNumberIntegerLong */
.chroma .il {
  @apply text-blue-400;
}

/* LiteralNumberOct */
.chroma .mo {
  @apply text-blue-400;
}

/* Operator */
.chroma .o {
  @apply text-red-400 font-bold;
}

/* OperatorWord */
.chroma .ow {
  @apply text-red-400 font-bold;
}

/* Punctuation */
.chroma .p {}

/* Comment */
.chroma .c {
  @apply text-slate-500;
  font-style: italic
}

/* CommentHashbang */
.chroma .ch {
  @apply text-slate-500;
  font-style: italic
}

/* CommentMultiline */
.chroma .cm {
  @apply text-slate-500 italic;
}

/* CommentSingle */
.chroma .c1 {
  @apply text-slate-500 italic;
}

/* CommentSpecial */
.chroma .cs {
  @apply text-slate-500 font-bold italic;
}

/* CommentPreproc */
.chroma .cp {
  @apply text-slate-500 font-bold italic;
}

/* CommentPreprocFile */
.chroma .cpf {
  @apply text-slate-500 font-bold italic;
}

/* Generic */
.chroma .g {}

/* GenericDeleted */
.chroma .gd {
  @apply text-red-300 bg-red-900;
}

/* GenericEmph */
.chroma .ge {
  @apply italic;
}

/* GenericError */
.chroma .gr {
  @apply text-red-300;
}

/* GenericHeading */
.chroma .gh {
  @apply text-blue-400 font-bold;
}

/* GenericInserted */
.chroma .gi {
  @apply text-green-400 bg-green-900;
}

/* GenericOutput */
.chroma .go {
  @apply text-slate-400;
}

/* GenericPrompt */
.chroma .gp {
  @apply text-slate-400;
}

/* GenericStrong */
.chroma .gs {
  @apply font-bold;
}

/* GenericSubheading */
.chroma .gu {
  @apply text-blue-400;
}

/* GenericTraceback */
.chroma .gt {
  @apply text-red-400;
}

/* GenericUnderline */
.chroma .gl {
  @apply underline;
}

/* TextWhitespace */
.chroma .w {
  @apply text-slate-500;
}
