<nav class="flex" aria-label="Breadcrumb">
  <ol role="list" class="flex items-center space-x-2">
    {{ template "breadcrumb_navigation" (dict "p1" . "p2" .) }}
  </ol>
</nav>

{{ define "breadcrumb_navigation" }}
  {{ if .p1.Parent }}
    {{ template "breadcrumb_navigation" (dict "p1" .p1.Parent "p2" .p2 )  }}
  {{ else if not .p1.IsHome }}
    {{ template "breadcrumb_navigation" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
  {{ end }}
  <li class="flex items-center text-sm font-medium text-gray-500 hover:text-gray-700{{ if eq .p1 .p2 }} pointer-events-none{{ end }}">
    {{ if .p1.Parent }}
      <svg class="flex-shrink-0 h-5 w-5 mr-2 text-slate-300" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
      </svg>
      <a class="" href="{{ .p1.RelPermalink }}">
        {{ .p1.Title }}
      </a>
    {{ else }}
      <a class="text-gray-400 hover:text-gray-500" href="{{ .p1.RelPermalink }}">
        <svg class="flex-shrink-0 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
        </svg>
        <span class="sr-only">Home</span>
      </a>
    {{ end }}
  </li>
{{ end }}