{{ define "li" -}}
  {{ $page := .page -}}
  {{ $pages := .pages -}}
  {{ range $pages -}}
    {{ $isActive := eq $page . -}}
    {{ $isActivePath := $page.IsDescendant . -}}
    {{ $childPages := (union .Pages .Sections).ByWeight -}}
    <li class="my-2">
      <a class="pl-6 flex {{ if $isActive }} active text-redis-ink-900 {{ else }} text-redis-pen-700 hover:text-redis-pen-600 {{ end }}" href="{{.RelPermalink}}">
        {{ if gt (len $childPages) 0 }}
          {{ if or $isActive $isActivePath -}}
            <span class="pr-0"></span>
          {{ else -}}
            <span class="pr-0"></span>
          {{ end -}}
        {{ end -}}
        <span>{{.LinkTitle}}</span>
      </a>
      {{if (eq (.Params.linkTitle) "Redis for Kubernetes")}}
      <div id="versionSelectorKubernetes" class="menu__version-selector version-selector-control" onclick="_openVersionSelector('Kubernetes')" style="display: none;">
        <button class="menu__version-selector-btn version-selector-control">
            <span id="versionSelectorKubernetesValue" class="version-selector-control">latest</span>
            <span class="menu__version-selector__toggler opener version-selector-control">&#x25BC;</span>
            <span class="menu__version-selector__toggler closer version-selector-control">&#x25B2;</span>
        </button>
        {{- $vers := slice -}}
        {{- $lines := slice -}}

        {{ if fileExists "kubernetes-versions" }}
          {{- $txt := readFile "kubernetes-versions" -}}
          {{- $lines = split $txt "\n" -}}

          {{- range $lines }}
          {{- $v := strings.TrimSpace . -}}
          {{- if and (ne $v "") (findRE `^\d+\.\d+\.\d+$` $v) -}}
            {{- $p := split $v "." -}}
            {{- $key := printf "%03d.%03d.%03d" (int (index $p 0)) (int (index $p 1)) (int (index $p 2)) -}}
            {{- $vers = $vers | append (dict "v" $v "key" $key) -}}
          {{- end -}}
        {{- end -}}
        {{ else }}
          {{- $entries := readDir "content/operate/kubernetes" -}}
          {{- range $e := $entries -}}
            {{- if and $e.IsDir (findRE `^\d+\.\d+\.\d+$` $e.Name) -}}
              {{- $p := split $e.Name "." -}}
              {{- $maj := int (index $p 0) -}}
              {{- $min := int (index $p 1) -}}
              {{- $pat := int (index $p 2) -}}
              {{- $key := printf "%03d.%03d.%03d" $maj $min $pat -}} {{/* for sorting */}}
              {{- $vers = $vers | append (dict "v" $e.Name "key" $key) -}}
            {{- end -}}
          {{- end -}}
        {{ end}}

        {{- $vers = sort $vers "key" "desc" -}}

        <div id="versionDropdownKubernetes" class="menu__version-selector__list version-selector-control">
          <a href="{{ absURL "operate/kubernetes/" }}" id="kubernetes-version-select-latest" onclick="_setSelectedVersion('kubernetes', 'latest')">latest</a>
          {{- range $vers }}
          <a href="{{ (absURL "operate/kubernetes/{{ .v }}/") }}" id="kubernetes-version-select-{{ .v }}" onclick="_setSelectedVersion('kubernetes', 'v{{ .v }}')">v{{ .v }}</a>
          {{- end }}
        </div>
      </div>
      {{else if (eq (.Params.linkTitle) "Redis Software")}}
      <div id="versionSelectorRs" class="menu__version-selector version-selector-control" onclick="_openVersionSelector('Rs')" style="display: none;">
        <button class="menu__version-selector-btn version-selector-control">
            <span id="versionSelectorRsValue" class="version-selector-control">latest</span>
            <span class="menu__version-selector__toggler opener version-selector-control">&#x25BC;</span>
            <span class="menu__version-selector__toggler closer version-selector-control">&#x25B2;</span>
        </button>
        {{- $vers := slice -}}
        {{- $lines := slice -}}

        {{ if fileExists "rs-versions" }}
          {{- $txt := readFile "rs-versions" -}}
          {{- $lines = split $txt "\n" -}}

          {{- range $lines }}
          {{- $v := strings.TrimSpace . -}}
          {{- if and (ne $v "") (findRE `^\d+\.\d+$` $v) -}}
            {{- $p := split $v "." -}}
            {{- $key := printf "%03d.%03d" (int (index $p 0)) (int (index $p 1)) -}}
            {{- $vers = $vers | append (dict "v" $v "key" $key) -}}
          {{- end -}}
        {{- end -}}
        {{ else }}
          {{- $entries := readDir "content/operate/rs" -}}
          {{- range $e := $entries -}}
            {{- if and $e.IsDir (findRE `^\d+\.\d+$` $e.Name) -}}
              {{- $p := split $e.Name "." -}}
              {{- $maj := int (index $p 0) -}}
              {{- $min := int (index $p 1) -}}
              {{- $key := printf "%03d.%03d" $maj $min -}} {{/* for sorting */}}
              {{- $vers = $vers | append (dict "v" $e.Name "key" $key) -}}
            {{- end -}}
          {{- end -}}
        {{ end}}

        {{- $vers = sort $vers "key" "desc" -}}

        <div id="versionDropdownRs" class="menu__version-selector__list version-selector-control">
          <a href="{{ absURL "operate/rs/" }}" id="rs-version-select-latest" onclick="_setSelectedVersion('rs', 'latest')">latest</a>
          {{- range $vers }}
          <a href="{{ (absURL "operate/rs/{{ .v }}/") }}" id="rs-version-select-{{ .v }}" onclick="_setSelectedVersion('rs', 'v{{ .v }}')">v{{ .v }}</a>
          {{- end }}
        </div>
      </div>
      {{else if (eq (.Params.linkTitle) "RedisVL")}}
      <div id="versionSelectorRedisvl" class="menu__version-selector version-selector-control" onclick="_openVersionSelector('Redisvl')" style="display: none;">
        <button class="menu__version-selector-btn version-selector-control">
            <span id="versionSelectorRedisvlValue" class="version-selector-control">latest</span>
            <span class="menu__version-selector__toggler opener version-selector-control">&#x25BC;</span>
            <span class="menu__version-selector__toggler closer version-selector-control">&#x25B2;</span>
        </button>
        <div id="versionDropdownRedisvl" class="menu__version-selector__list version-selector-control">
            <a href="{{ absURL "develop/ai/redisvl/" }}" id="redisvl-version-select-latest" onclick="_setSelectedVersion('redisvl', 'latest')">latest</a>
        </div>
      </div>
    </li>

    {{end}}
    {{ if and (gt (len $childPages) 0) (or $isActive $isActivePath)}}
      <ul class="child-list">
        {{ template "li" (dict "page" $page "pages" $childPages) }}
      </ul>
    {{ end }}
  {{- end }}
{{- end }}


<div class="md:block w-full md:w-96 h-fit md:h-full shrink-0 text-base font-mono font-normal py-6">
  <nav id="sidebar" class="max-h-[calc(100vh-7rem)] min-h-96 flex flex-col gap-4 w-full md:w-96 z-40 bg-white md:fixed md:pt-6 h-fit md:h-full leading-7">
    {{ $navRoot := cond (eq .Site.Home.Type "docs") .Site.Home .FirstSection -}}
    {{ $ulNr := 0 -}}
    {{ $ulShow := 1 -}}
      <div class='min-h-0  border border-opacity-50 border-redis-ink-900 rounded-md flex flex-col {{ if not (in (slice "Develop" "Integrate" "Operate") $navRoot.LinkTitle) }} shrink-0 {{ end }}'>
        <a class='px-6 py-4 rounded-t-md hover:bg-redis-pen-200 {{ if eq $navRoot.LinkTitle "Develop" }} font-bold {{ end }}' href='{{ relURL "develop" }}'>Develop with Redis</a>
        {{ if eq $navRoot.LinkTitle "Develop" }}
          <ul class="md:block overflow-y-auto grow pr-6 border-t border-opacity-50 border-redis-ink-900">
            {{ template "li" (dict "page" . "pages" (union $navRoot.Pages $navRoot.Sections).ByWeight) }}
          </ul>
        {{ end }}
        <a class='px-6 py-4 hover:bg-redis-pen-200 border-t border-redis-ink-900 border-opacity-50 {{ if eq $navRoot.LinkTitle "Integrate" }} font-bold {{ end }}' href='{{ relURL "integrate" }}'>Libraries and tools</a>
        {{ if eq $navRoot.LinkTitle "Integrate" }}
          <ul class="md:block overflow-y-auto grow pr-6 border-t border-opacity-50 border-redis-ink-900">
            {{ template "li" (dict "page" . "pages" (union $navRoot.Pages $navRoot.Sections).ByWeight) }}
          </ul>
        {{ end }}
        <a class='px-6 py-4 rounded-b-md hover:bg-redis-pen-200 border-t border-redis-ink-900 border-opacity-50 {{ if eq $navRoot.LinkTitle "Operate" }} font-bold {{ end }}' href='{{ relURL "operate" }}'>Redis products</a>
        {{ if eq $navRoot.LinkTitle "Operate" }}
          <ul class="md:block overflow-y-auto grow pr-6 border-t border-opacity-50 border-redis-ink-900">
            {{ template "li" (dict "page" . "pages" (union $navRoot.Pages $navRoot.Sections).ByWeight) }}
          </ul>
        {{ end }}
      </div>
      <div class='min-h-0 border border-opacity-50 border-redis-ink-900 rounded-md flex flex-col {{ if not (eq $navRoot.LinkTitle "Commands") }} shrink-0 {{ end }}'>
        <a class='px-6 py-4 hover:bg-redis-pen-200 text-redis-red-600 {{ if eq $navRoot.LinkTitle "Commands" }} font-bold {{ end }}' href='{{ relURL "commands" }}'>Commands</a>
        {{ if eq $navRoot.LinkTitle "Commands" }}
          <ul class="md:block overflow-y-auto grow pr-6 border-t border-opacity-50 border-redis-ink-900">
            {{ template "li" (dict "page" . "pages" (union $navRoot.Pages $navRoot.Sections).ByWeight) }}
          </ul>
        {{ end }}
      </div>
  </div>
  </nav>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const sidebar = document.getElementById('sidebar');
    const footer = document.querySelector('footer');

    window.addEventListener('scroll', function() {
      const scrolledHeight = window.scrollY + window.innerHeight;
      if (scrolledHeight >= footer.offsetTop) {
          sidebar.style.maxHeight = `calc(100vh - 7rem - ${scrolledHeight - footer.offsetTop}px)`;
        } else {
        sidebar.style.maxHeight = 'calc(100vh - 7rem)';
      }
    });
  })
</script>
