<div class="md:block w-full md:w-96 h-fit md:h-full shrink-0 text-base font-mono font-normal py-6">
  <nav class="w-full md:w-96 z-40 bg-white md:fixed md:pt-6 h-fit md:h-full max-h-[calc(100vh-7rem)] leading-7">
    {{ $navRoot := cond (eq .Site.Home.Type "docs") .Site.Home .FirstSection -}}
    <div id="sidebar" class="max-h-[calc(100vh-8rem)] border border-opacity-50 border-redis-ink-900 rounded-md flex flex-col">
      {{ if in (slice "Develop" "Integrate" "Operate" "Commands") $navRoot.LinkTitle }}
        <a class='px-6 py-4 rounded-t-md hover:bg-redis-pen-200 {{ if eq $navRoot.LinkTitle "Develop" }} font-bold {{ end }}' href='{{ relURL "develop" }}'>Develop with Redis</a>
        <a class='px-6 py-4 hover:bg-redis-pen-200 border-t border-redis-ink-900 border-opacity-50 {{ if eq $navRoot.LinkTitle "Integrate" }} font-bold {{ end }}' href='{{ relURL "integrate" }}'>Libraries and tools</a>
        <a class='px-6 py-4 rounded-b-md hover:bg-redis-pen-200 border-t border-redis-ink-900 border-opacity-50 {{ if eq $navRoot.LinkTitle "Operate" }} font-bold {{ end }}' href='{{ relURL "operate" }}'>Redis products</a>
      {{ else }}
        <a class='px-6 py-4 rounded-t-md hover:bg-redis-pen-200 font-bold' href="{{ $navRoot.RelPermalink }}">{{ $navRoot.LinkTitle }}</a>
        <div class="hidden md:block w-full py-6"></div>
      {{ end }}       
    </div>
    {{ if in (slice "Commands" "Integrate") $navRoot.LinkTitle }}
    <div id="sidebar-cmd" class="max-h-[calc(100vh-8rem)] border border-opacity-50 border-redis-ink-900 rounded-md flex flex-col mt-4">
      <a class='px-6 py-4 hover:bg-redis-pen-200 text-redis-red-600 {{ if eq $navRoot.LinkTitle "Commands" }} font-bold {{ end }}' href='{{ relURL "commands" }}'>Commands</a>
    </div>
    {{ end }}
  </nav>
</div>
