<footer
  class="relative z-50 flex justify-center bg-white px-0 py-24 text-redis-pen-600 border border-t-redis-pen-300 text-[13px] font-sans">
  <div class="flex w-full max-w-7xl flex-col gap-6 px-4 md:flex-row lg:px-8">
    <div class="flex flex-col gap-8 md:max-w-[40%] md:flex-[40%]">
      <a class="relative hover:text-redis-pen-400 w-[82px] mb-4" href="https://redis.io/">
        {{ partial "icons/logo-script.html" }}
      </a>
      <div class="flex flex-col justify-between mt-8 lg:mt-0 lg:mr-8 gap-8">
        {{/*
        <div class="flex flex-row gap-2 items-center"><span>Language</span><span>{{ partial "icons/caret.html" }}</span>
        </div>
        */}}
        <div class="flex flex-row gap-5 order-first">
          <a class="hover:text-redis-pen-400" href="https://www.facebook.com/Redisinc">
            {{ partial "icons/Facebook.html" }}
          </a>
          <a class="hover:text-redis-pen-400" href="https://www.youtube.com/c/redisinc">
            {{ partial "icons/Youtube.html" }}
          </a>
          <a class="hover:text-redis-pen-400" href="https://www.linkedin.com/company/redisinc/">
            {{ partial "icons/LinkedIn.html" }}
          </a>
          <a class="hover:text-redis-pen-400" href="https://www.instagram.com/redisinc/">
            {{ partial "icons/Instagram.html" }}
          </a>
          <a class="hover:text-redis-pen-400" href="https://twitter.com/Redisinc">
            {{ partial "icons/X.html" }}
          </a>
          <a class="hover:text-redis-pen-400" href="https://github.com/redis/">
            {{ partial "icons/Github.html" }}
          </a>
        </div>
      </div>
      <div class="hidden flex-col gap-4 md:flex">
        <a class="hover:text-redis-pen-800" href="https://trust.redis.io/">Trust</a>
        <a class="hover:text-redis-pen-800" href="https://redis.io/legal/privacy-policy/">Privacy</a>
        <a class="hover:text-redis-pen-800" href="https://redis.io/legal/redis-website-terms-of-use/">Terms of use</a>
        <a class="hover:text-redis-pen-800" href="https://redis.io/legal/">Legal notices</a>
      </div>
    </div>
    <div class="flex flex-col gap-8 md:max-w-[15%] md:flex-[15%]">
      <div>
        <h3 class="font-medium text-base uppercase text-redis-ink-900">Use Cases</h3>
        <div class="flex flex-col gap-4 pt-4">
          <a class="hover:text-redis-pen-800" href="https://redis.io/solutions/vector-database/">Vector database</a>
          <a class="hover:text-redis-pen-800" href="https://redis.io/solutions/feature-stores/">Feature stores</a><a
            class="hover:text-redis-pen-800" href="https://redis.io/redis-for-ai/">Semantic cache</a>
          <a class="hover:text-redis-pen-800" href="https://redis.io/solutions/caching/">Caching</a><a
            class="hover:text-redis-pen-800" href="https://redis.io/nosql/what-is-nosql/">NoSQL database</a>
          <a class="hover:text-redis-pen-800" href="https://redis.io/solutions/leaderboards/">Leaderboards</a>
          <a class="hover:text-redis-pen-800" href="https://redis.io/solutions/deduplication/">Data deduplication</a>
          <a class="hover:text-redis-pen-800" href="https://redis.io/solutions/messaging/">Messaging</a>
          <a class="hover:text-redis-pen-800"
            href="https://redis.io/solutions/authentication-token-storage/">Authentication token storage</a>
          <a class="hover:text-redis-pen-800" href="https://redis.io/solutions/fast-data-ingest/">Fast-data ingest</a>
          <a class="hover:text-redis-pen-800"
            href="https://redis.io/solutions/query-caching-with-redis-enterprise/">Query caching</a>
          <a class="hover:text-redis-pen-800" href="https://redis.io/solutions">All solutions</a>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-8 md:grid md:max-w-[45%] md:flex-[45%] md:grid-cols-3 md:justify-between">
      <div>
        <h3 class="font-medium text-base uppercase text-redis-ink-900">Industries</h3>
        <div class="flex flex-col gap-4 pt-4">
          <a class="hover:text-redis-pen-800" href="https://redis.io/industries/financial-services/">Financial
            Services</a>
          <a class="hover:text-redis-pen-800" href="https://redis.io/industries/gaming/">Gaming</a><a
            class="hover:text-redis-pen-800" href="https://redis.io/industries/healthcare/">Healthcare</a>
          <a class="hover:text-redis-pen-800" href="https://redis.io/industries/retail/">Retail</a>
          <a class="hover:text-redis-pen-800" href="https://redis.io/industries/">All industries</a>
        </div>
      </div>
      <div>
        <h3 class="font-medium text-base uppercase text-redis-ink-900">Compare</h3>
        <div class="flex flex-col gap-4 pt-4">
          <a class="hover:text-redis-pen-800" href="https://redis.io/compare/elasticache/">Redis vs Elasticache</a>
          <a class="hover:text-redis-pen-800" href="https://redis.io/compare/memcached/">Redis vs Memcached</a>
          <a class="hover:text-redis-pen-800" href="https://redis.io/compare/memorystore/">Redis vs Memory Store</a>
          <a class="hover:text-redis-pen-800" href="https://redis.io/compare/community-edition/">Redis vs Source
            Available</a>
        </div>
      </div>
      <div>
        <h3 class="font-medium text-base uppercase text-redis-ink-900">Company</h3>
        <div class="flex flex-col gap-4 pt-4">
          <a class="hover:text-redis-pen-800" href="https://redis.io/company/">Mission &amp; values</a><a
            class="hover:text-redis-pen-800" href="https://redis.io/company/team/">Leadership</a>
          <a class="hover:text-redis-pen-800" href="https://redis.io/careers/">Careers</a><a
            class="hover:text-redis-pen-800" href="https://redis.io/company/news/">News</a>
        </div>
      </div>
      <div>
        <h3 class="font-medium text-base uppercase text-redis-ink-900">Connect</h3>
        <div class="flex flex-col gap-4 pt-4">
          <a class="hover:text-redis-pen-800" href="https://redis.io/community/">Community</a><a
            class="hover:text-redis-pen-800" href="https://redis.io/events/">Events &amp; webinars</a>
          <a class="hover:text-redis-pen-800" href="https://redis.io/company/news/">News</a>
        </div>
      </div>
      <div>
        <h3 class="font-medium text-base uppercase text-redis-ink-900">Partners</h3>
        <div class="flex flex-col gap-4 pt-4">
          <a class="hover:text-redis-pen-800" href="https://redis.io/cloud-partners/aws/">Amazon Web Services</a>
          <a class="hover:text-redis-pen-800" href="https://redis.io/cloud-partners/google/">Google Cloud</a>
          <a class="hover:text-redis-pen-800" href="https://redis.io/cloud-partners/azure/">Microsoft Azure</a>
          <a class="hover:text-redis-pen-800" href="https://redis.io/partners/">All partners</a>
        </div>
      </div>
      <div>
        <h3 class="font-medium text-base uppercase text-redis-ink-900">Support</h3>
        <div class="flex flex-col gap-4 pt-4">
          <a class="hover:text-redis-pen-800" href="https://redis.io/services/professional-services/">Professional
            services</a><a class="hover:text-redis-pen-800" href="https://redis.io/support/">Support</a>
        </div>
      </div>
    </div>
    <div class="absolute bottom-0 left-0 flex w-full flex-row gap-8 p-4 md:hidden">
      <a href="https://trust.redis.io/">Trust</a>
      <a href="https://redis.io/legal/privacy-policy/">Privacy</a>
      <a href="https://redis.io/legal/redis-website-terms-of-use/">Terms of use</a>
      <a href="https://redis.io/legal/">Legal notices</a>
    </div>
  </div>
</footer>