<footer class="h-fit bg-white relative z-40 border border-t-redis-pen-300 text-redis-pen-600 flex justify-center font-mono text-[15px]">
  <div class="flex flex-col gap-8 lg:max-w-[1920px] grow">
    <div class="flex flex-col lg:flex-row px-4 pt-8 lg:p-11 justify-between gap-4">
      <div class="flex flex-col gap-4">
        <a class="relative hover:text-redis-pen-400 w-[82px] mb-0" href="https://redis.io/">
          {{ partial "icons/logo-script.html" }}
        </a>
        <a class="flex flex-col hover:text-redis-red-500 tracking-tight" style="visibility: hidden;" href="">
          <span class="">pad</span>
        </a>
         <div class="flex flex-col justify-between mt-0 lg:mt-0 lg:mr-8 gap-2">
        {{/*  <div class="flex flex-row gap-2 items-center"><span>Language</span><span>{{ partial "icons/caret.html" }}</span></div>  */}}
        <div class="flex flex-row gap-2 justify-between lg:justify-normal lg:gap-5 lg:order-first">
          <a class="hover:text-redis-pen-400" href="https://www.facebook.com/Redisinc">
            {{ partial "icons/Facebook.html" }}
          </a>
          <a class="hover:text-redis-pen-400" href="https://www.youtube.com/c/redisinc">
            {{ partial "icons/Youtube.html" }}
          </a>
          <a class="hover:text-redis-pen-400" href="https://www.linkedin.com/company/redisinc/">
            {{ partial "icons/LinkedIn.html" }}
          </a>
          <a class="hover:text-redis-pen-400" href="https://www.instagram.com/redisinc/">
            {{ partial "icons/Instagram.html" }}
          </a>
          <a class="hover:text-redis-pen-400" href="https://twitter.com/Redisinc">
            {{ partial "icons/X.html" }}
          </a>
          <a class="hover:text-redis-pen-400" href="https://github.com/redis/">
            {{ partial "icons/Github.html" }}
          </a>
        </div>
      </div>
        <div class="hidden lg:flex flex-col gap-0 bg-neutral-150 lg:bg-white text-[13px]">
          <a class="flex flex-col hover:text-redis-red-500 tracking-tight" style="visibility: hidden;" href="">
            <span class="">pad</span>
          </a>
          <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/legal/privacy-policy/">
            Privacy
          </a>
          <a class="flex flex-col hover:text-redis-red-500 tracking-tight" style="visibility: hidden;" href="">
            <span class="">pad</span>
          </a>
          <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/legal/redis-website-terms-of-use/">
            Terms of use
          </a>
          <a class="flex flex-col hover:text-redis-red-500 tracking-tight" style="visibility: hidden;" href="">
            <span class="">pad</span>
          </a>
        <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/legal/">
          Legal notices
        </a>
        </div>
      </div>
      <div class="flex flex-col gap-4">
      </div>
      <div class="flex flex-col gap-4">
      </div>
      <div class="flex flex-col gap-4">
      </div>
       <div class="flex flex-col gap-4">
      <h3 class="uppercase font-medium text-redis-pen-800 mb-2">Use cases</h3>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/solutions/feature-stores">
        <span class="">Feature stores</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/solutions/real-time-inventory">
        <span class="">Real-time inventory management</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/solutions/session-management">
        <span class="">Session management</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/solutions/vector-search/">
        <span class="">Vector search</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/solutions/caching">
        <span class="">Caching</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/solutions/authentication-token-storage">
        <span class="">Authentication token storage</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/solutions/leaderboards">
        <span class="">Leaderboards</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/solutions/fast-data-ingest">
        <span class="">Fast data ingest</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/solutions/deduplication">
        <span class="">Data deduplication</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/solutions/user-profile-storage">
        <span class="">User profile storage</span>
      </a>
    </div>
    <div class="flex flex-col gap-4">
    </div>
    <div class="flex flex-col gap-4">
    </div>
    <div class="flex flex-col gap-4">
    </div>
    <div class="flex flex-col gap-4">
    </div>
    <div class="flex flex-col gap-4">
    </div>
    <div class="flex flex-col gap-4">
    </div>
      <div class="flex flex-col gap-4">
      <h3 class="uppercase font-medium text-redis-pen-800 mb-2">Industries</h3>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/industries/financial-services">
        <span class="">Financial services</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/industries/gaming">
        <span class="">Gaming</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/industries/healthcare">
        <span class="">Healthcare</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/industries/retail">
        <span class="">Retail</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" style="visibility: hidden;" href="">
        <span class="">pad</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" style="visibility: hidden;" href="">
        <span class="">pad</span>
      </a>
      <h3 class="uppercase font-medium text-redis-pen-800 mb-2 mt-2 gap-4">Compare</h3>
        <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/cloud/compare-us-with-aws-elasticache/">
        <span class="">Redis vs Elasticache</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/comparisons/redis-vs-memcached/">
        <span class="">Redis vs Memcached</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/">
        <span class="">Redis vs Memory Store</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/comparisons/oss-vs-enterprise/">
        <span class="">Redis vs Source Available</span>
      </a>
    </div>
    <div class="flex flex-col gap-4">
    </div>
    <div class="flex flex-col gap-4">
    </div>
    <div class="flex flex-col gap-4">
    </div>
    <div class="flex flex-col gap-4">
    </div>
    <div class="flex flex-col gap-4">
    </div>
    <div class="flex flex-col gap-4">
    </div>
      <div class="flex flex-col gap-4">
         <h3 class="uppercase font-medium text-redis-pen-800 mb-2">Company</h3>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/company">
        <span class="">Mission & values</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/company/team">
        <span class="">Leadership</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/company/careers">
        <span class="">Careers</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/company/news">
        <span class="">News</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/partners">
        <span class="">Partners</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" style="visibility: hidden;" href="">
        <span class="">pad</span>
      </a>
        <h3 class="uppercase font-medium text-redis-pen-800 mb-2 mt-2 gap-4">Connect</h3>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/community">
        <span class="">Community</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/events">
        <span class="">Events & Webinars</span>
      </a>
        <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/company/news">
        <span class="">News</span>
      </a>
      </div>
      <div class="flex flex-col gap-4">
      </div>
      <div class="flex flex-col gap-4">
      </div>
      <div class="flex flex-col gap-4">
      </div>
      <div class="flex flex-col gap-4">
      </div>
      <div class="flex flex-col gap-4">
      </div>
      <div class="flex flex-col gap-4">
      </div>
      <div class="flex flex-col gap-4">
        <h3 class="uppercase font-medium text-redis-pen-800 mb-2">Partners</h3>
        <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/cloud-partners/aws/">
          Amazon Web Services
        </a>
        <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/cloud-partners/google/">
          Google Cloud
        </a>
        <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/cloud-partners/microsoft-azure/">
          Microsoft Azure
        </a>
        <a class="flex flex-col hover:text-redis-red-500 tracking-tight" style="visibility: hidden;" href="">
          <span class="">pad</span>
        </a>
        <a class="flex flex-col hover:text-redis-red-500 tracking-tight" style="visibility: hidden;" href="">
          <span class="">pad</span>
        </a>
        <a class="flex flex-col hover:text-redis-red-500 tracking-tight" style="visibility: hidden;" href="">
          <span class="">pad</span>
        </a>
        <h3 class="uppercase font-medium text-redis-pen-800 mb-2 mt-2 gap-4">Support</h3>
        <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/services/professional-services">
        <span class="">Professional Services</span>
      </a>
         <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="https://redis.io/support">
        <span class="">Support</span>
      </a>
      </div>
    </div>
  </div>
</footer>
