<!-- Code for copy to clipboard button -->
<script>
    document.addEventListener("DOMContentLoaded", function () {

        // don't run script for tabbed code examples
        if (!document.querySelector('.codetabs.cli.group.flex.justify-start.items-center.flex-wrap.box-border.rounded-lg.mt-0.mb-0.mx-auto.bg-slate-900')) {
            document.querySelectorAll('div.highlight').forEach(block => {
                // Create a wrapper for the button and message
                const wrapper = document.createElement('div');

                if (block.parentElement.classList.contains("expand-content")) {
                    wrapper.style = 'position:absolute;top:10px;right:20px;z-index:1;display:flex;align-items:center;gap:6px;';
                } else {
                    wrapper.style = 'position:absolute;top:10px;right:10px;z-index:1;display:flex;align-items:center;gap:6px;';
                }
                // Create the copy button
                const button = document.createElement('button');
                button.innerHTML = `
                <button class="clipboard-button text-neutral-400 hover:text-slate-100 bg-slate-600 relative h-7 w-7 p-1 rounded rounded-mx" title="Copy to clipboard">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="currentColor">
                    <path d="M9 43.95q-1.2 0-2.1-.9-.9-.9-.9-2.1V10.8h3v30.15h23.7v3Zm6-6q-1.2 0-2.1-.9-.9-.9-.9-2.1v-28q0-1.2.9-2.1.9-.9 2.1-.9h22q1.2 0 2.1.9.9.9.9 2.1v28q0 1.2-.9 2.1-.9.9-2.1.9Zm0-3h22v-28H15v28Zm0 0v-28 28Z"></path>
                </svg>
            `;

                // Create the tooltip container
                const tooltipContainer = document.createElement('div');
                tooltipContainer.className = 'tooltip relative inline-block';

                // Create the tooltip span
                const tooltip = document.createElement('span');
                tooltip.className = 'tooltiptext hidden bg-slate-200 rounded rounded-mx text-slate-800 text-center text-xs p-1 absolute';
                tooltip.style.bottom = '-0.6rem';
                tooltip.style.left = '-5.5rem';
                tooltip.textContent = 'Copied!';

                tooltipContainer.appendChild(tooltip);
                button.appendChild(tooltipContainer);

                // Handle copy logic
                button.addEventListener('click', () => {
                    const lines = block.querySelectorAll('span.cl');
                    const text = Array.from(lines).map(line => line.textContent).join('');

                    navigator.clipboard.writeText(text).then(() => {
                        tooltip.style.display = 'block';
                        setTimeout(() => {
                            tooltip.style.display = 'none';
                        }, 2000);
                    }).catch(err => {
                        console.error("Copy failed", err);
                    });
                });

                // Append button and message
                wrapper.appendChild(button);
                wrapper.appendChild(tooltipContainer);
                block.style.position = 'relative';
                block.appendChild(wrapper);
            });
        }
    });
</script>


<!-- Code for version selectors -->
<script>
    window.onload = function(){
        var currentUrl = window.location.href
        const regex_kubernetes = new RegExp('/docs/(latest|staging\/.+)/operate/kubernetes/.*')
        const regex_rs = new RegExp('/docs/(latest|staging\/.+)/operate/rs/.*')

        if (regex_kubernetes.test(currentUrl)){
            // unhide kubernetes version selector
            document.getElementById( 'versionSelectorKubernetes' ).style.display = '';
        }
        else if (regex_rs.test(currentUrl)) {
            // unhide rs version selector
            document.getElementById( 'versionSelectorRs' ).style.display = '';
        }
    }

    function _setSelectedVersion(product, ver) {
        if (ver) {
            var i = document.getElementById(product + '-version-select-' + ver);
            if (i) {
                i.classList.toggle('selected-version');
            }
        }
    }

    function _getVersion(product) {
        return document.getElementById("versionSelector" + product + "Value").innerText
    }

    function _openVersionSelector(product) {
        var productLowercase = product.toLowerCase()

        document.getElementById("versionSelector" + product).classList.toggle('open');

        // get currently selected version
        var currentVersion = _getVersion(product)

        if (currentVersion != "latest") {
            currentVersion = currentVersion.substring(1)
        }

        // get current url
        var currentUrl = window.location.href

        // get version dropdown children
        var versionsDropdown = document.getElementById("versionDropdown" + product).children
        var versionsDropdownLength = versionsDropdown.length

        const regex = new RegExp(String.raw`^.+\/operate\/${productLowercase}`,"g");
        const versionRegex = /^(\/\d+\.\d+(?:\.\d+)?(?:\-\d+)?)?/g;

        // for each version in dropdown, edit its href link
        for (var i= 0; i < versionsDropdownLength; i ++) {
            if (versionsDropdown[i].innerText == "latest") {
                url_start = versionsDropdown[i].href.match(regex)
                url_end = currentUrl.replace(regex,"").replace(versionRegex,"")
                versionsDropdown[i].href = url_start + url_end
            }
            else {
                var versionDropdown = versionsDropdown[i].innerText.substring(1)
                url_start = versionsDropdown[i].href.match(regex)
                url_end = currentUrl.replace(regex,"").replace(versionRegex,("/" + versionDropdown))
                versionsDropdown[i].href = url_start + url_end
            }
        }
    }

    window.onclick = function (e) {
        if (!e.target.matches('.version-selector-control')) {
            var d = document.getElementsByClassName('menu__version-selector');
            var i;
            for (i = 0; i < d.length; i++) {
                if (d[i].classList.contains('open')) {
                    d[i].classList.remove('open');
                }
            }
        }
    }
</script>