{{ define "head" }}
<script src='{{ relURL "" }}/js/cli.js' defer></script>
{{ end }}

{{ define "main" }}
<main>
  <header class="bg-gradient-to-b from-indigo-50/30 via-indigo-50/30 to-white">
    <div class="lg:grid grid-cols-2 gap-x-10 items-center container max-w-[85rem] mx-auto px-4 sm:px-8 pt-20 pb-28">
      <div class="text-center lg:text-left">
        <h1 class="font-display text-6xl leading-none midnight-redis font-medium mb-4">Documentation</h1>
        <p class="text-redis-neutral-800 text-xl mb-7 max-w-2xl mx-auto lg:mx-0">
          Read more about how to develop with, integrate to, and operate Redis.
        </p>
        <a href="/develop/get-started/" class="button-xl button-indigo">Get started</a>
        <a href="/operate/install" class="button-xl button-outline ml-2">Install</a>
      </div>
      <div
        class="relative left-3.5 lg:left-0 lg:mt-0 mx-auto lg:ml-0  lg:-mr-7 pt-7 pr-7 bg-no-repeat bg-right-top max-w-2xl lg:max-w-none">
        <div class="search-bar shadow-lg">
          <form id="search-form-home" class="search-form">
            <label class="search-magnifier-label" for="search-input-home" id="search-label-home">
              <svg>
                <path
                  d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z"
                  stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                </path>
              </svg>
            </label>
            <input class="search-input" aria-autocomplete="both" aria-labelledby="search-label-home"
              id="search-input-home" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
              placeholder="Search…" maxlength="64" type="search" value="" tabindex="">
          </form>
        </div>
      </div>
    </div>
  </header>
  <!--<nav
    class="w-60 z-40 bg-white hidden md:block fixed top-28 pb-16 h-full max-h-[calc(100vh-7rem)] text-[0.8125rem] leading-7 font">  
    <div
      class="absolute right-0 -top-28 z-[-1] h-screen border-r border-slate-200/50 bg-gradient-to-bl from-slate-50 via-slate-50 to-indigo-100 w-[17rem] xl:w-[calc(50vw-23rem)]">
    </div>
    <ul class="h-full max-h-[calc(100vh-7rem)] overflow-y-auto pr-6">
      <li>
        <a class="flex justify-between items-center truncate font-semibold text-slate-900" href="/develop/">
          <span>Documentation</span>
        </a>
        <ul class="">
          <li>
            <a class="flex justify-between items-center truncate text-slate-600 hover:text-indigo-600"
              href="/develop/">
              <span>Develop</span>
              <svg class="shrink-0 h-[1.0rem] w-[1.0rem] stroke-slate-400" viewBox="0 0 20 20" fill="currentColor">
                <path d="M13.5355 10L6.46447 2.92893"></path>
                <path d="M6.46447 17.0711L13.5355 10"></path>
              </svg>
            </a>
          </li>
          <li>
            <a class="flex justify-between items-center truncate text-slate-600 hover:text-indigo-600"
              href="/integrate">
              <span>Integrate</span>
              <svg class="shrink-0 h-[1.0rem] w-[1.0rem] stroke-slate-400" viewBox="0 0 20 20" fill="currentColor">
                <path d="M13.5355 10L6.46447 2.92893"></path>
                <path d="M6.46447 17.0711L13.5355 10"></path>
              </svg>
            </a>
          </li>
          <li>
            <a class="flex justify-between items-center truncate text-slate-600 hover:text-indigo-600"
              href="/operate">
              <span>Operate</span>
              <svg class="shrink-0 h-[1.0rem] w-[1.0rem] stroke-slate-400 rotate-90" viewBox="0 0 20 20" fill="currentColor">
                <path d="M13.5355 10L6.46447 2.92893"></path>
                <path d="M6.46447 17.0711L13.5355 10"></path>
              </svg>
            </a>
            <ul class="child-list">
              <li>
                <a class="flex justify-between items-center truncate text-slate-600 hover:text-indigo-600" href="/operate/rc">
                  <span>Redis Cloud</span>
                </a>
              </li>
              <li>
                <a class="flex justify-between items-center truncate text-slate-600 hover:text-indigo-600" href="/operate/oss_and_stack">
                  <span>Redis OSS and Stack</span>
                </a>
              </li>
              <li>
                <a class="flex justify-between items-center truncate text-slate-600 hover:text-indigo-600" href="/operate/rs">
                  <span>Redis Enterprise Software</span>
                </a>
              </li>
              <li>
                <a class="flex justify-between items-center truncate text-slate-600 hover:text-indigo-600" href="/operate/rs">
                  <span>Redis Enterprise for Kubernetes</span>
                </a>
              </li>
            </ul>
          </li>
          </li>
        </ul>
      </li>
    </ul>
  </nav>-->

  <article class="">
    <section class="py-28 bg-gradient-to-b from-indigo-50/30 via-indigo-50/30 to-white">
      <div class="container max-w-[85rem] mx-auto px-4 sm:px-8">
        <h2 class="text-center font-display text-4xl leading-tight text-slate-900 font-semibold mb-10 -mt-4">
          Learn how to
        </h2>
        <ul class="flex flex-col sm:grid md:grid-cols-2 xl:grid-cols-3 gap-14">
          <li class="flex flex-col h-full">
            <span class="inline-flex items-center justify-center w-14 h-14 p-3 bg-indigo-50 rounded-md mb-6">{{ with
              resources.Get "icons/programmability.svg" }}{{
              ( . | minify).Content | safeHTML }}{{ end }}</span>
            <h3 class="font-semibold text-xl mb-2">
              Develop
            </h3>
            <p class="text-redis-neutral-800 mb-5">
              Read more about how to leverage Redis as a data structure store, message broker, document database, vector
              database and more.
            </p>
            <a class="group inline-flex items-center text-midnight-700 hover:text-indigo-600 font-medium mt-auto self-start"
              href="/develop">
              Learn more
              <span
                class="ml-1.5 text-redis-indigo-500 opacity-50 group-hover:opacity-100 transition group-hover:translate-x-1">&rarr;</span>
            </a>
          </li>
          <li class="flex flex-col h-full">
            <span class="inline-flex items-center justify-center w-14 h-14 p-3 bg-indigo-50 rounded-md mb-6">{{ with
              resources.Get "icons/extensibility-icon.svg" }}{{ ( . |
              minify).Content | safeHTML }}{{ end }}</span>
            <h3 class="font-semibold text-xl mb-2">
              Integrate
            </h3>
            <p class="text-redis-neutral-800 mb-5">
              Read about frameworks and integrations available for Redis.
            </p>
            <a class="group inline-flex items-center text-midnight-700 hover:text-indigo-600 font-medium mt-auto self-start"
              href="/integrate">
              Learn more
              <span
                class="ml-1.5 text-redis-indigo-500 opacity-50 group-hover:opacity-100 transition group-hover:translate-x-1">&rarr;</span>
            </a>
          </li>
          <li class="flex flex-col h-full">
            <span class="inline-flex items-center justify-center w-14 h-14 p-3 bg-indigo-50 rounded-md mb-6">{{ with
              resources.Get "icons/cluster.svg" }}{{ ( . |
              minify).Content | safeHTML }}{{ end }}</span>
            <h3 class="font-semibold text-xl mb-2">
              Operate
            </h3>
            <p class="text-redis-neutral-800 mb-5">
              Read about how to install, administer, and monitor Redis, Redis Enterprise, and Redis Cloud.
            </p>
            <a class="group inline-flex items-center text-midnight-700 hover:text-indigo-600 font-medium mt-auto self-start"
              href="/operate">
              Learn more
              <span
                class="ml-1.5 text-redis-indigo-500 opacity-50 group-hover:opacity-100 transition group-hover:translate-x-1">&rarr;</span>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="pb-28">
      <div class="container max-w-[85rem] mx-auto px-4 sm:px-8">
        <h2 class="text-center font-display text-4xl leading-tight text-slate-900 font-semibold mb-10">
          Explore by product
        </h2>
        <ul class="flex flex-col sm:grid md:grid-cols-2 xl:grid-cols-3 gap-14">
          <li class="flex flex-col h-full">
            <h3 class="font-semibold text-xl pt-5 mb-2 border-t-2 border-indigo-500">
              Redis OSS and Stack
            </h3>
            <p class="text-redis-neutral-800 mb-5">
              Redis Stack extends Redis with modern data models and processing engines to provide a complete developer
              experience. Download the source, install using your favorite package manager, or spin it up for free in
              the cloud.
            </p>
            <a class="group inline-flex items-center text-midnight-700 hover:text-indigo-600 font-medium mt-auto self-start"
              href="/operate/oss_and_stack">
              Learn more
              <span
                class="ml-1.5 text-redis-indigo-500 opacity-50 group-hover:opacity-100 transition group-hover:translate-x-1">&rarr;</span>
            </a>
          </li>

          <!-- TODO-->

          <li class="flex flex-col h-full">
            <h3 class="font-semibold text-xl mb-2 pt-5 border-t-2 border-indigo-500">
              Redis Cloud
            </h3>
            <p class="text-redis-neutral-800 mb-5">
              Hosted and serverless database-as-a-service (DBaaS). The fastest way to deploy Redis via Amazon AWS,
              Google Cloud Platform, or Microsoft Azure.
            </p>
            <a class="group inline-flex items-center text-midnight-700 hover:text-indigo-600 font-medium mt-auto self-start"
              href="/operate/rc">
              Learn more
              <span
                class="ml-1.5 text-redis-indigo-500 opacity-50 group-hover:opacity-100 transition group-hover:translate-x-1">&rarr;</span>
            </a>
          </li>
          <li class="flex flex-col h-full">
            <h3 class="font-semibold text-xl mb-2 pt-5 border-t-2 border-indigo-500">
              Redis Enterprise Software
            </h3>
            <p class="text-redis-neutral-800 mb-5">
              A self-managed data platform that unlocks the full potential of Redis at enterprise scale.
            </p>
            <a class="group inline-flex items-center text-midnight-700 hover:text-indigo-600 font-medium mt-auto self-start"
              href="/operate/rs">
              Learn more
              <span
                class="ml-1.5 text-redis-indigo-500 opacity-50 group-hover:opacity-100 transition group-hover:translate-x-1">&rarr;</span>
            </a>
          </li>
          <li class="flex flex-col h-full">
            <h3 class="font-semibold text-xl mb-2 pt-5 border-t-2 border-indigo-500">
              Redis Enterprise for Kubernetes
            </h3>
            <p class="text-redis-neutral-800 mb-5">
              Redis Enterprise deployed on containerized software platforms and integrated with our partners.
            </p>
            <a class="group inline-flex items-center text-midnight-700 hover:text-indigo-600 font-medium mt-auto self-start"
              href="/operate/kubernetes">
              Learn more
              <span
                class="ml-1.5 text-redis-indigo-500 opacity-50 group-hover:opacity-100 transition group-hover:translate-x-1">&rarr;</span>
            </a>
          </li>
          <li class="flex flex-col h-full">
            <h3 class="font-semibold text-xl mb-2 pt-5 border-t-2 border-indigo-500">
              Redis Data Integreation
            </h3>
            <p class="text-redis-neutral-800 mb-5">
              Redis Data Integration keeps Redis in sync with the primary database in near real time.
            </p>
            <a class="group inline-flex items-center text-midnight-700 hover:text-indigo-600 font-medium mt-auto self-start"
              href="/integrate/TODO">
              Learn more
              <span
                class="ml-1.5 text-redis-indigo-500 opacity-50 group-hover:opacity-100 transition group-hover:translate-x-1">&rarr;</span>
            </a>
          </li>
          <li class="flex flex-col h-full">
            <h3 class="font-semibold text-xl mb-2 pt-5 border-t-2 border-indigo-500">
              RedisInsight
            </h3>
            <p class="text-redis-neutral-800 mb-5">
              RedisInsight is a powerful tool for visualizing and optimizing data in Redis or Redis Stack, making
              real-time application development easier and more fun than ever before,
            </p>
            <a class="group inline-flex items-center text-midnight-700 hover:text-indigo-600 font-medium mt-auto self-start"
              href="/develop/connect/insight">
              Learn more
              <span
                class="ml-1.5 text-redis-indigo-500 opacity-50 group-hover:opacity-100 transition group-hover:translate-x-1">&rarr;</span>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </article>

  <div class="py-28 bg-gradient-to-b from-indigo-50/30 via-indigo-50/30 to-white">
    <div class="container max-w-[85rem] mx-auto px-4 sm:px-8">
      <h2 class="text-center font-display text-4xl leading-tight text-slate-900 font-semibold mb-10 -mt-4">
        Explore by use case
      </h2>
      <p class="text-center mb-10 mr-10 ml-10">Redis can be used as a database, cache, streaming engine, message broker,
        and more.</p>
      <ul class="flex flex-col sm:grid md:grid-cols-2 xl:grid-cols-3 gap-14">
        <li class="flex flex-col h-full">
          <h3 class="font-semibold text-xl mb-2 pt-5 border-t-2 border-indigo-500">
            Data structure store
          </h3>
          <p class="text-redis-neutral-800 mb-5">
            Redis stands for Remote Dictionary Server. It allows using same data types as in your local programming
            environment but on the side of Redis.
          </p>
          <a class="group inline-flex items-center text-midnight-700 hover:text-indigo-600 font-medium mt-auto self-start"
            href="/develop/TODO">
            Quick start guide
            <span
              class="ml-1.5 text-indigo-600 opacity-50 group-hover:opacity-100 transition group-hover:translate-x-1">&rarr;</span>
          </a>
        </li>
        <li class="flex flex-col h-full">
          <h3 class="font-semibold text-xl mb-2 pt-5 border-t-2 border-indigo-500">
            Document database
          </h3>
          <p class="text-redis-neutral-800 mb-5">
            Leverage JSON and its flexible data model to use Redis as a document database. Model, search, and query your
            data efficiently without needing an additional cache.
          </p>
          <a class="group inline-flex items-center text-midnight-700 hover:text-indigo-600 font-medium mt-auto self-start"
            href="/develop/TODO">
            Quick start guide
            <span
              class="ml-1.5 text-indigo-600 opacity-50 group-hover:opacity-100 transition group-hover:translate-x-1">&rarr;</span>
          </a>
        </li>
        <li class="flex flex-col h-full">
          <h3 class="font-semibold text-xl mb-2 pt-5 border-t-2 border-indigo-500">
            Vector database
          </h3>
          <p class="text-redis-neutral-800 mb-5">
            Develop AI-powered applications by querying vector embeddings. You can use Redis as a vector database to
            implement recommendation systems, Retrieval Augmented Generation (RAG), LLM semantic caching, and more.
          </p>
          <a class="group inline-flex items-center text-midnight-700 hover:text-indigo-600 font-medium mt-auto self-start"
            href="/develop/TODO">
            Quick start guide
            <span
              class="ml-1.5 text-indigo-600 opacity-50 group-hover:opacity-100 transition group-hover:translate-x-1">&rarr;</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</main>
{{ end }}
