{
  "openapi": "3.0.1",
  "info": {
    "title": "Data Integration Workspace API",
    "version": "2.2.2",
    "description": "Data Integration Workspace API"
  },
  "servers": [
    {
      "url": "https://api.redislabs.com"
    }
  ],
  "security": [
    {
      "x-api-key": [],
      "x-api-secret-key": []
    }
  ],
  "tags": [
    {
      "name": "Workspace",
      "x-order": "1",
      "x-api-lifecycle": "preview"
    },
    {
      "name": "Tasks",
      "x-order": "2",
      "x-api-lifecycle": "preview"
    },
    {
      "name": "Secrets",
      "x-order": "3",
      "x-api-lifecycle": "preview"
    },
    {
      "name": "PrivateLink",
      "x-order": "4",
      "x-api-lifecycle": "preview"
    },
    {
      "name": "Compose",
      "x-order": "5",
      "x-api-lifecycle": "preview"
    },
    {
      "name": "RDI Core",
      "description": "Data Integration (RDI) endpoints. This surface is independent of the Cloud API and versions through the RDI OpenAPI contract.\n\nRDI Core API version: 1.18.1\n",
      "externalDocs": {
        "description": "Redis Data Integration API reference",
        "url": "https://redis.io/docs/latest/integrate/redis-data-integration/reference/api-reference/"
      },
      "x-order": "6",
      "x-api-lifecycle": "preview",
      "x-rdi-core-api-version": "1.18.1",
      "x-rdi-core-api-spec-url": "https://redis.io/docs/latest/integrate/redis-data-integration/reference/api-reference/openapi.json",
      "x-rdi-core-api-docs-url": "https://redis.io/docs/latest/integrate/redis-data-integration/reference/api-reference/"
    }
  ],
  "paths": {
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace": {
      "get": {
        "summary": "Get a data integration workspace",
        "description": "Returns the current data integration workspace state for the specified subscription.",
        "operationId": "getWorkspace",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: request or business validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict or invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "workspaces",
        "tags": [
          "Workspace"
        ],
        "x-api-lifecycle": "preview"
      },
      "post": {
        "summary": "Create a data integration workspace",
        "description": "Starts provisioning a data integration workspace for a subscription and returns an asynchronous task.",
        "operationId": "createWorkspace",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Workspace creation accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: request or business validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict or invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "workspaces",
        "tags": [
          "Workspace"
        ],
        "x-api-lifecycle": "preview"
      },
      "delete": {
        "summary": "Delete a data integration workspace",
        "description": "Starts deleting the data integration workspace for a subscription and returns an asynchronous task.",
        "operationId": "deleteWorkspace",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Workspace deletion accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: request or business validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict or invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "workspaces",
        "tags": [
          "Workspace"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/data-integration-workspaces": {
      "get": {
        "summary": "List data integration workspaces",
        "description": "Lists all data integration workspaces in the current Redis Cloud account.",
        "operationId": "listWorkspaces",
        "responses": {
          "200": {
            "description": "Workspaces returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspacesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: request or business validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict or invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "workspaces",
        "tags": [
          "Workspace"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/rdi/api/v2/info": {
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "description": "Subscription ID.",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64"
          }
        }
      ],
      "get": {
        "summary": "Get RDI API information",
        "description": "Forwards the request to the RDI API v2 deployment owned by the specified subscription.",
        "operationId": "getRdiV2Info",
        "x-speakeasy-group": "rdi",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "tags": [
          "RDI Core"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/rdi/api/v2/pipelines": {
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "description": "Subscription ID.",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64"
          }
        }
      ],
      "get": {
        "summary": "List RDI pipelines",
        "description": "Forwards the request to the RDI API v2 deployment owned by the specified subscription.",
        "operationId": "listRdiV2Pipelines",
        "x-speakeasy-group": "rdi",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "tags": [
          "RDI Core"
        ],
        "x-api-lifecycle": "preview"
      },
      "post": {
        "summary": "Create an RDI pipeline",
        "description": "Forwards the request to the RDI API v2 deployment owned by the specified subscription.",
        "operationId": "createRdiV2Pipeline",
        "x-speakeasy-group": "rdi",
        "parameters": [
          {
            "name": "dry_run",
            "in": "query",
            "description": "Validate the pipeline without deploying it.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "validate_cdc",
            "in": "query",
            "description": "Validate change data capture configuration.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "tags": [
          "RDI Core"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/rdi/api/v2/pipelines/{name}": {
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "description": "Subscription ID.",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64"
          }
        },
        {
          "name": "name",
          "in": "path",
          "description": "RDI pipeline name.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get an RDI pipeline",
        "description": "Forwards the request to the RDI API v2 deployment owned by the specified subscription.",
        "operationId": "getRdiV2Pipeline",
        "x-speakeasy-group": "rdi",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "tags": [
          "RDI Core"
        ],
        "x-api-lifecycle": "preview"
      },
      "put": {
        "summary": "Replace an RDI pipeline",
        "description": "Forwards the request to the RDI API v2 deployment owned by the specified subscription.",
        "operationId": "replaceRdiV2Pipeline",
        "x-speakeasy-group": "rdi",
        "parameters": [
          {
            "name": "dry_run",
            "in": "query",
            "description": "Validate the pipeline without deploying it.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "validate_cdc",
            "in": "query",
            "description": "Validate change data capture configuration.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "tags": [
          "RDI Core"
        ],
        "x-api-lifecycle": "preview"
      },
      "patch": {
        "summary": "Update an RDI pipeline",
        "description": "Forwards the request to the RDI API v2 deployment owned by the specified subscription.",
        "operationId": "updateRdiV2Pipeline",
        "x-speakeasy-group": "rdi",
        "parameters": [
          {
            "name": "dry_run",
            "in": "query",
            "description": "Validate the pipeline without deploying it.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "validate_cdc",
            "in": "query",
            "description": "Validate change data capture configuration.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "tags": [
          "RDI Core"
        ],
        "x-api-lifecycle": "preview"
      },
      "delete": {
        "summary": "Delete an RDI pipeline",
        "description": "Forwards the request to the RDI API v2 deployment owned by the specified subscription.",
        "operationId": "deleteRdiV2Pipeline",
        "x-speakeasy-group": "rdi",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "tags": [
          "RDI Core"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/rdi/api/v2/pipelines/{name}/status": {
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "description": "Subscription ID.",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64"
          }
        },
        {
          "name": "name",
          "in": "path",
          "description": "RDI pipeline name.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get RDI pipeline status",
        "description": "Forwards the request to the RDI API v2 deployment owned by the specified subscription.",
        "operationId": "getRdiV2PipelineStatus",
        "x-speakeasy-group": "rdi",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "tags": [
          "RDI Core"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/rdi/api/v2/pipelines/{name}/start": {
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "description": "Subscription ID.",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64"
          }
        },
        {
          "name": "name",
          "in": "path",
          "description": "RDI pipeline name.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "summary": "Start an RDI pipeline",
        "description": "Forwards the request to the RDI API v2 deployment owned by the specified subscription.",
        "operationId": "startRdiV2Pipeline",
        "x-speakeasy-group": "rdi",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "tags": [
          "RDI Core"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/rdi/api/v2/pipelines/{name}/stop": {
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "description": "Subscription ID.",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64"
          }
        },
        {
          "name": "name",
          "in": "path",
          "description": "RDI pipeline name.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "summary": "Stop an RDI pipeline",
        "description": "Forwards the request to the RDI API v2 deployment owned by the specified subscription.",
        "operationId": "stopRdiV2Pipeline",
        "x-speakeasy-group": "rdi",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "tags": [
          "RDI Core"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/rdi/api/v2/pipelines/{name}/reset": {
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "description": "Subscription ID.",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64"
          }
        },
        {
          "name": "name",
          "in": "path",
          "description": "RDI pipeline name.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "summary": "Reset an RDI pipeline",
        "description": "Forwards the request to the RDI API v2 deployment owned by the specified subscription.",
        "operationId": "resetRdiV2Pipeline",
        "x-speakeasy-group": "rdi",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "tags": [
          "RDI Core"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/rdi/api/v2/pipelines/{name}/metric-collections": {
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "description": "Subscription ID.",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64"
          }
        },
        {
          "name": "name",
          "in": "path",
          "description": "RDI pipeline name.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "List RDI pipeline metric collections",
        "description": "Forwards the request to the RDI API v2 deployment owned by the specified subscription.",
        "operationId": "listRdiV2MetricCollections",
        "x-speakeasy-group": "rdi",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "tags": [
          "RDI Core"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/rdi/api/v2/pipelines/{name}/metric-collections/{collection_name}": {
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "description": "Subscription ID.",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64"
          }
        },
        {
          "name": "name",
          "in": "path",
          "description": "RDI pipeline name.",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "collection_name",
          "in": "path",
          "description": "Metric collection name.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get an RDI pipeline metric collection",
        "description": "Forwards the request to the RDI API v2 deployment owned by the specified subscription.",
        "operationId": "getRdiV2MetricCollection",
        "x-speakeasy-group": "rdi",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "tags": [
          "RDI Core"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/rdi/api/v2/pipelines/{name}/secrets": {
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "description": "Subscription ID.",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64"
          }
        },
        {
          "name": "name",
          "in": "path",
          "description": "RDI pipeline name.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "List RDI pipeline secrets",
        "description": "Forwards the request to the RDI API v2 deployment owned by the specified subscription.",
        "operationId": "listRdiV2PipelineSecrets",
        "x-speakeasy-group": "rdi",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "tags": [
          "RDI Core"
        ],
        "x-api-lifecycle": "preview"
      },
      "post": {
        "summary": "Create an RDI pipeline secret",
        "description": "Forwards the request to the RDI API v2 deployment owned by the specified subscription.",
        "operationId": "createRdiV2PipelineSecret",
        "x-speakeasy-group": "rdi",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "tags": [
          "RDI Core"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/rdi/api/v2/pipelines/{name}/secrets/{key}": {
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "description": "Subscription ID.",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64"
          }
        },
        {
          "name": "name",
          "in": "path",
          "description": "RDI pipeline name.",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "key",
          "in": "path",
          "description": "Secret key.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get an RDI pipeline secret",
        "description": "Forwards the request to the RDI API v2 deployment owned by the specified subscription.",
        "operationId": "getRdiV2PipelineSecret",
        "x-speakeasy-group": "rdi",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "tags": [
          "RDI Core"
        ],
        "x-api-lifecycle": "preview"
      },
      "put": {
        "summary": "Replace an RDI pipeline secret",
        "description": "Forwards the request to the RDI API v2 deployment owned by the specified subscription.",
        "operationId": "replaceRdiV2PipelineSecret",
        "x-speakeasy-group": "rdi",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "tags": [
          "RDI Core"
        ],
        "x-api-lifecycle": "preview"
      },
      "delete": {
        "summary": "Delete an RDI pipeline secret",
        "description": "Forwards the request to the RDI API v2 deployment owned by the specified subscription.",
        "operationId": "deleteRdiV2PipelineSecret",
        "x-speakeasy-group": "rdi",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "tags": [
          "RDI Core"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/rdi/api/v2/pipelines/{name}/source-schemas/{source_name}": {
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "description": "Subscription ID.",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64"
          }
        },
        {
          "name": "name",
          "in": "path",
          "description": "RDI pipeline name.",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "source_name",
          "in": "path",
          "description": "Source name.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get RDI pipeline source schema",
        "description": "Forwards the request to the RDI API v2 deployment owned by the specified subscription.",
        "operationId": "getRdiV2SourceSchema",
        "x-speakeasy-group": "rdi",
        "parameters": [
          {
            "name": "schemas",
            "in": "query",
            "description": "Comma-separated source schemas to include.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tables",
            "in": "query",
            "description": "Comma-separated source tables to include.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "details",
            "in": "query",
            "description": "Include detailed source schema metadata.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "tags": [
          "RDI Core"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/rdi/api/v2/pipelines/{name}/flush-target/{target_name}": {
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "description": "Subscription ID.",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64"
          }
        },
        {
          "name": "name",
          "in": "path",
          "description": "RDI pipeline name.",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "target_name",
          "in": "path",
          "description": "Target name.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "summary": "Flush an RDI pipeline target",
        "description": "Forwards the request to the RDI API v2 deployment owned by the specified subscription.",
        "operationId": "flushRdiV2Target",
        "x-speakeasy-group": "rdi",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "tags": [
          "RDI Core"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/tasks": {
      "get": {
        "summary": "List workspace tasks",
        "description": "Lists asynchronous workspace tasks for the specified data integration workspace.",
        "operationId": "listTasks",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace tasks returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceTasksResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: request or business validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict or invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "tasks",
        "tags": [
          "Tasks"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/tasks/{taskId}": {
      "get": {
        "summary": "Get a workspace task",
        "description": "Returns one asynchronous workspace task by task ID.",
        "operationId": "getTask",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace task returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: request or business validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict or invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "tasks",
        "tags": [
          "Tasks"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/network/private-link": {
      "get": {
        "summary": "List PrivateLink endpoints",
        "description": "Lists PrivateLink endpoints for the data integration workspace in the specified subscription.",
        "operationId": "listEndpoints",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PrivateLink endpoints returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateLinkEndpointListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: request or business validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict or invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "privatelink",
        "tags": [
          "PrivateLink"
        ],
        "x-api-lifecycle": "preview"
      },
      "post": {
        "summary": "Create a PrivateLink endpoint",
        "description": "Starts creating a PrivateLink endpoint for the data integration workspace and returns an asynchronous task.",
        "operationId": "createEndpoint",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePrivateLinkEndpointRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "PrivateLink endpoint creation accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: request or business validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict or invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "privatelink",
        "x-speakeasy-name-override": "create-endpoint",
        "tags": [
          "PrivateLink"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/network/private-link/{endpointId}": {
      "get": {
        "summary": "Get a PrivateLink endpoint",
        "description": "Returns one PrivateLink endpoint by endpoint ID.",
        "operationId": "getEndpoint",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PrivateLink endpoint returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateLinkEndpointResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: request or business validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict or invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "privatelink",
        "tags": [
          "PrivateLink"
        ],
        "x-api-lifecycle": "preview"
      },
      "delete": {
        "summary": "Delete a PrivateLink endpoint",
        "description": "Starts deleting a PrivateLink endpoint from the data integration workspace and returns an asynchronous task.",
        "operationId": "deleteEndpoint",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "PrivateLink endpoint deletion accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: request or business validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict or invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "privatelink",
        "tags": [
          "PrivateLink"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/network/private-link/{endpointId}/validate": {
      "post": {
        "summary": "Validate a PrivateLink endpoint",
        "description": "Validates reachability for an existing PrivateLink endpoint attached to the data integration workspace.",
        "operationId": "validateEndpoint",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PrivateLink endpoint validation completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateLinkValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: request or business validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict or invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "privatelink",
        "tags": [
          "PrivateLink"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/network/private-link/validate": {
      "post": {
        "summary": "Validate a PrivateLink service",
        "description": "Validates an AWS PrivateLink endpoint service name before creating a workspace PrivateLink endpoint.",
        "operationId": "validatePrivateLink",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateLinkValidationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "PrivateLink service validation completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateLinkValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: request or business validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict or invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "privatelink",
        "tags": [
          "PrivateLink"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/network/suggested-cidrs": {
      "get": {
        "summary": "Get suggested workspace CIDRs",
        "description": "Returns used CIDRs, the default CIDR, and the next free CIDR for data integration workspace provisioning.",
        "operationId": "getSuggestedCidrs",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cidr-mask",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 22
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Suggested CIDRs returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CidrsInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: request or business validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict or invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "workspaces",
        "tags": [
          "Workspace"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/compose": {
      "get": {
        "summary": "List compose drafts",
        "description": "Lists compose drafts for the specified data integration workspace.",
        "operationId": "listDrafts",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Compose drafts returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComposeDraftListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: request or business validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict or invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "compose",
        "tags": [
          "Compose"
        ],
        "x-api-lifecycle": "preview"
      },
      "post": {
        "summary": "Create a compose draft",
        "description": "Creates a compose draft for building or editing a data integration pipeline configuration.",
        "operationId": "createDraft",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComposeDraftUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Compose draft created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComposeDraftCreatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: request or business validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict or invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "compose",
        "tags": [
          "Compose"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/compose/mount-secrets": {
      "post": {
        "summary": "Mount compose payload secrets",
        "description": "Mounts secret providers from an ad-hoc compose payload into the data integration workspace.",
        "operationId": "mountSecretsFromPayload",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComposeDraftUpsertRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Compose secrets mounted"
          },
          "400": {
            "description": "Bad request: request or business validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict or invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "compose",
        "tags": [
          "Compose"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/compose/translate": {
      "post": {
        "summary": "Translate a compose configuration",
        "description": "Translates between cloud compose configuration and the RDI-native pipeline configuration format.",
        "operationId": "translate",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComposeTranslateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Compose configuration translated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComposeTranslateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: request or business validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict or invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "compose",
        "tags": [
          "Compose"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/compose/{draftId}": {
      "get": {
        "summary": "Get a compose draft",
        "description": "Returns one compose draft by draft ID.",
        "operationId": "getDraft",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "draftId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Compose draft returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComposeDraftResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: request or business validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict or invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "compose",
        "tags": [
          "Compose"
        ],
        "x-api-lifecycle": "preview"
      },
      "put": {
        "summary": "Update a compose draft",
        "description": "Replaces the body of an existing compose draft.",
        "operationId": "updateDraft",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "draftId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComposeDraftUpsertRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Compose draft updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComposeDraftResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: request or business validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict or invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "compose",
        "tags": [
          "Compose"
        ],
        "x-api-lifecycle": "preview"
      },
      "delete": {
        "summary": "Delete a compose draft",
        "description": "Deletes a compose draft from the data integration workspace.",
        "operationId": "deleteDraft",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "draftId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Compose draft deleted"
          },
          "400": {
            "description": "Bad request: request or business validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict or invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "compose",
        "tags": [
          "Compose"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/compose/{draftId}/composed": {
      "get": {
        "summary": "Get composed RDI configuration",
        "description": "Renders a compose draft as the RDI-native pipeline configuration payload.",
        "operationId": "getComposed",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "draftId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "RDI configuration returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RdiPatchRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: request or business validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict or invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "compose",
        "tags": [
          "Compose"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/compose/{draftId}/validate": {
      "post": {
        "summary": "Validate a compose draft",
        "description": "Dry-run validates a compose draft against the RDI API without deploying the pipeline.",
        "operationId": "validateDraft",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "draftId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Compose draft validated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RdiPipelineResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: request or business validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict or invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "compose",
        "tags": [
          "Compose"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/compose/{draftId}/mount-secrets": {
      "post": {
        "summary": "Mount compose draft secrets",
        "description": "Mounts secret providers from a saved compose draft into the data integration workspace.",
        "operationId": "mountSecrets",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "draftId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Compose draft secrets mounted"
          },
          "400": {
            "description": "Bad request: request or business validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict or invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "compose",
        "tags": [
          "Compose"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/secrets/validate": {
      "post": {
        "summary": "Validate workspace secrets",
        "description": "Validates AWS Secrets Manager ARNs for source credentials and optional TLS materials used by a data integration workspace.",
        "operationId": "validateSecret",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretValidationRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Secret validation completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretValidationResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: request or business validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict or invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "secrets",
        "x-speakeasy-name-override": "validate",
        "tags": [
          "Secrets"
        ],
        "x-api-lifecycle": "preview"
      }
    },
    "/v1/subscriptions/{subscriptionId}/data-integration-workspace/secrets/validate-single": {
      "post": {
        "summary": "Validate one workspace secret",
        "description": "Validates one AWS Secrets Manager ARN against a specific data integration secret purpose.",
        "operationId": "validateSingleSecret",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SingleSecretValidationRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Single secret validation completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleSecretValidationResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: request or business validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict or invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "secrets",
        "tags": [
          "Secrets"
        ],
        "x-api-lifecycle": "preview"
      }
    }
  },
  "components": {
    "schemas": {
      "ComposeDraftAdvanced": {
        "type": "object",
        "properties": {
          "processor": {
            "$ref": "#/components/schemas/Properties"
          }
        }
      },
      "ComposeDraftSource": {
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/PostgresqlSource"
          },
          {
            "$ref": "#/components/schemas/MySqlSource"
          },
          {
            "$ref": "#/components/schemas/MariaDbSource"
          },
          {
            "$ref": "#/components/schemas/OracleSource"
          },
          {
            "$ref": "#/components/schemas/SqlServerSource"
          },
          {
            "$ref": "#/components/schemas/MongodbSource"
          },
          {
[...]
