{{ define "head" }}
  <script src='{{ relURL "" }}/js/cli.js' defer></script>
  <script src='{{ relURL "" }}/js/codetabs.js' defer></script>
{{ end }}

{{ define "main" }}
  {{ $isModule := isset .Params "module" }}
  {{ $component := cond $isModule .Params.module "Redis" }}
  <main class="docs w-full max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 md:flex gap-16">
    {{ partial "docs-nav.html" . }}
    <div class="w-full max-w-[47rem] py-12">
      {{ partial "breadcrumbs" . }}
      <section class="prose prose-slate pt-10">
        <h1 class="command-name">
          {{- .Title }}
        </h1>

        {{ .Content }}

        <br />
        {{ partial "feedback.html" . }}
      </section>
    </div>

    <aside class="hidden xl:block w-60 h-full shrink-0">
      {{ $related := .Site.Pages.RelatedIndices . "group" | append . }}
      {{ $related = (where $related ".Params.hidden" "!=" true) }}
      {{ $this := . }}
      {{ with sort $related "Title" }}
      <dl class="w-60 z-40 hidden bg-white/75 md:block overflow-auto fixed top-28 h-full max-h-[calc(100vh-15rem)] text-[0.8125rem]">
        {{ partial "meta-links.html" $this }}
        <dt class="font-semibold my-3">
          See also
        </dt>
        {{ range . }}
          <dd>
            <a class="block font-mono font-medium mb-2 {{- if eq $this . }} text-indigo-600{{- end }}" href="{{ .RelPermalink }}">{{ .Title }}</a>
          </dd>
        {{ end }}
      </dl>
      {{ end }}
    </aside>

  </main>
{{ end }}
