{{ define "head" }}
  <script src="/js/codetabs.js" defer></script>
{{ end }}

{{ define "main" }}
  <main class="docs w-full max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 md:flex gap-16">
    {{ partial "docs-nav.html" . }}
    <div class="w-full max-w-[47rem] py-12">
      {{ partial "breadcrumbs" . }}
      <section class="prose prose-slate w-full max-w-[47rem] py-12">
        <h1>{{ .Title }}</h1>
        {{ with .Params.description }}<p class="text-lg -mt-5 mb-10">{{ . | markdownify }}</p>{{ end }}
        {{ .Content }}
        {{ partial "feedback.html" . }}
      </section>
    </div>
    {{ partial "docs-toc.html" . }}
  </main>
{{ end }}