<div class="hidden group-hover:flex absolute -ml-10 border border-redis-pencil-300 bg-white p-8 flex-row rounded-b-md gap-8 text-sm">
  <div class="w-60">
    <div class="flex flex-col gap-4">
      <h3 class="uppercase font-mono mb-2">company header?</h3>
      <a class="flex flex-col hover:underline" href="http://redis.io/company">
        <span class="font-bold">Mission & values</span>
      </a>
      <a class="flex flex-col hover:underline" href="http://redis.io/leadership">
        <span class="font-bold">Leadership</span>
      </a>
      <a class="flex flex-col hover:underline" href="http://redis.io/careers">
        <span class="font-bold">Careers</span>
      </a>
      <a class="flex flex-col hover:underline" href="http://redis.io/news">
        <span class="font-bold">Newsroom</span>
      </a>
      <a class="flex flex-col hover:underline" href="http://redis.io/partners">
        <span class="font-bold">Partners</span>
      </a>
    </div>
  </div>
</div>