<div class="hidden group-hover:flex absolute -ml-60 border border-redis-pencil-300 bg-white p-8 flex-row rounded-b-md gap-8 text-sm">
  <div class="w-60">
    <div class="flex flex-col gap-4">
      <h3 class="uppercase font-mono mb-2">Learn</h3>
      <a class="flex flex-col hover:underline" href="https://redis.io">
        <span class="font-bold">Open Source docs</span>
      </a>
      <a class="flex flex-col hover:underline" href="https://docs.redis.com/latest/rc/">
        <span class="font-bold">Cloud docs</span>
      </a>
      <a class="flex flex-col hover:underline" href="https://docs.redis.com/latest/rs/">
        <span class="font-bold">Enterprise docs</span>
      </a>
      <a class="flex flex-col hover:underline" href="https://redis.io/docs/get-started/">
        <span class="font-bold">Quick start guide</span>
      </a>
      <a class="flex flex-col hover:underline" href="https://developer.redis.com">
        <span class="font-bold">Tutorial</span>
      </a>
      <a class="flex flex-col hover:underline" href="https://redis.com/blog/">
        <span class="font-bold">Blog</span>
      </a>
      <a class="flex flex-col hover:underline" href="https://university.redis.com">
        <span class="font-bold">Redis University</span>
      </a>
    </div>
  </div>
  <div class="border-l border-redis-pen-300"></div>
  <div class="w-60">
    <div class="flex flex-col gap-4">
      <h3 class="uppercase font-mono mb-2">Connect</h3>
      <a class="flex flex-col hover:underline" href="https://redis.com/community/">
        <span class="font-bold">Community</span>
      </a>
      <a class="flex flex-col hover:underline" href="https://redis.com/events-and-webinars/">
        <span class="font-bold">Events, tech talks & webinars</span>
      </a>
      <div class="w-full h-px bg-redis-pen-300 my-4"></div>
      <h3 class="uppercase font-mono mb-2">Workshop</h3>
      <p class="text-redis-ink-900 font-sans">Real-time data in action: From hello world to Chat GPT</p>
      <p class="text-redis-pen-600 font-sans">Dallas</p>
      {{ partial "components/button-link.html" (dict "Href" "" "Text" "Register now") }}
    </div>
  </div>
</div>