 <div class="menu-nav-primary-container">
        <ul id="menu-nav-primary" class="menu">
                        <!-- Top-level menu item -->
            <li id="menu-item-153729"
                class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-has-children  menu-item-153729  sub-menu-toggler ">

                <span class="inner">
                    <!-- Menu item title -->
                    <span
                        title="Products">Products</span>
                </span>
<ul class="sub-menu">                    <!-- First column of megamenu -->
                                        <!-- Second column of megamenu -->
                                        <!-- Third column of megamenu -->
                                        <!-- First column of megamenu -->
                                        <!-- Second column of megamenu -->
                                        <!-- Third column of megamenu -->
                                        <!-- First column of megamenu -->
                                        <!-- Second column of megamenu -->
                                        <!-- Third column of megamenu -->
                                        <div class="column-1">
                        <!-- First column of megamenu -->
                        <li id="menu-item-153730" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-153730 col-1 two-grid subcustom">
                                            <span>Products</span><ul class="sub-menu"><li id="menu-item-153731" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-153731 ">
                                                    <a href="/docs/latest/get-started/">
                                                        Community Edition<span class="subcontent">In-memory database for caching &#038; streaming.</span></a>
                                                    <ul class="sub-menu"></ul>
                                                            </li><li id="menu-item-161518" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-161518 ">
                                                    <a href="/solutions/vector-database/">
                                                        Vector Database<span class="subcontent">Build the fastest, most reliable GenAI apps with our advanced vector database.</span></a>
                                                    <ul class="sub-menu"></ul>
                                                            </li><li id="menu-item-153732" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-153732 ">
                                                    <a href="/cloud/">
                                                        Redis Cloud<span class="subcontent">Fully managed and integrated with Google Cloud, Azure, and AWS.</span></a>
                                                    <ul class="sub-menu"></ul>
                                                            </li><li id="menu-item-153743" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-153743 ">
                                                    <a href="/data-integration/">
                                                        Redis Data Integration (RDI)<span class="subcontent">Synchronize data in near-real time to make data fast—without writing code.</span></a>
                                                    <ul class="sub-menu"></ul>
                                                            </li><li id="menu-item-153733" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-153733 ">
                                                    <a href="/enterprise/">
                                                        Redis Software<span class="subcontent">Self-managed software with enterprise-grade compliance and reliability.</span></a>
                                                    <ul class="sub-menu"></ul>
                                                            </li></ul>
                                            </li>                    </div>
                                        <div class="column-3">
                        <!-- Third column of megamenu -->
                        <li id="menu-item-153734" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-153734 col-3">
                                            <span>Tools</span><ul class="sub-menu"><li id="menu-item-153735" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-153735 ">
                                                    <a href="/insight/">
                                                        Redis Insight</a>
                                                    <ul class="sub-menu"></ul>
                                                            </li><li id="menu-item-153736" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-153736 ">
                                                    <a href="/clients/">
                                                        Clients and connectors</a>
                                                    <ul class="sub-menu"></ul>
                                                            </li></ul>
                                            </li><li id="menu-item-153746" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-153746 col-3">
                                            <span>Get Redis</span><ul class="sub-menu"><li id="menu-item-153747" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-153747 submenu-btn">
                                                    <a href="/downloads/">
                                                        Downloads</a>
                                                    <ul class="sub-menu"></ul>
                                                            </li></ul>
                                            </li>                    </div>
                                    </ul>            </li>
