<div class="flex flex-col lg:hidden lg:group-hover:flex lg:absolute lg:left-11 lg:border lg:border-redis-pencil-300 bg-white lg:p-8 lg:flex-row lg:rounded-b-md gap-8 text-sm">
  <div class="lg:w-60">
    <div class="flex flex-col gap-4">
      <h3 class="uppercase font-mono mb-2">Products</h3>
      <a class="flex flex-col hover:underline" href="http://redis.io/open-source">
        <span class="font-bold">Open source</span><span class="text-redis-pen-600">High-level short description</span>
      </a>
      <a class="flex flex-col hover:underline" href="http://redis.io/cloud">
        <span class="font-bold">Redis Cloud</span><span class="text-redis-pen-600">High-level short description</span>
      </a>
      <a class="flex flex-col hover:underline" href="http://redis.io/enterprise">
        <span class="font-bold">Redis Enterprise</span><span class="text-redis-pen-600">High-level short description</span>
      </a>
      <div class="w-full h-px bg-redis-pen-300 my-4"></div>
      <h3 class="uppercase font-mono mb-2">Tools</h3>
      <a class="flex flex-col hover:underline" href="http://redis.io/insight">
        <span class="font-bold">Redis Insight</span><span class="text-redis-pen-600">High-level short description</span>
      </a>
      <a class="flex flex-col hover:underline" href="http://redis.io/clients">
        <span class="font-bold">Clients and Connectors</span><span class="text-redis-pen-600">High-level short description</span>
      </a>
    </div>
  </div>
  <div class="border-t lg:border-l border-redis-pen-300"></div>
  <div class="lg:w-60">
    <div class="flex flex-col gap-4">
      <h3 class="uppercase font-mono mb-2">Key Features</h3>
      <a class="flex flex-col hover:underline" href="http://redis.io/search">
        <span class="font-bold">Search and query</span>
      </a>
      <a class="flex flex-col hover:underline" href="http://redis.io/json">
        <span class="font-bold">JSON</span>
      </a>
      <a class="flex flex-col hover:underline" href="http://redis.io/active-active">
        <span class="font-bold">Active-Active</span>
      </a>
      <a class="flex flex-col hover:underline" href="http://redis.io/auto-tiering">
        <span class="font-bold">Auto-Tiering</span>
      </a>
      <a class="flex flex-col hover:underline" href="http://redis.io/data-integration">
        <span class="font-bold">Data integration</span>
      </a>
    </div>
  </div>
  <div class="border-t lg:border-l border-redis-pen-300"></div>
  <div class="lg:w-60">
    <div class="flex flex-col gap-4">
      <h3 class="uppercase font-mono mb-2">See how it works</h3>
      {{ partial "components/button-link.html" (dict "Href" "https://redis.io/demos" "Text" "Visit Demo Center") }}
      <div class="w-full h-px bg-redis-pen-300 my-4"></div>
      <h3 class="uppercase font-mono mb-2">Questions?</h3>
      {{ partial "components/button-link.html" (dict "Href" "https://redis.io/meeting/" "Text" "Book a meeting") }}
    </div>
  </div>
</div>