<div data-products-mobile-menu class="hidden">
    <ul class="space-y-4 py-4">
        <li class="active:text-redis-red-500">
            <a class="block w-full py-2 text-white" href="https://redis.io/cloud/">
                Redis Cloud
                <p class="mt-2 text-xs font-normal text-gray-300">Fully managed and integrated with Google Cloud, Azure,
                    and AWS.</p>
            </a>
        </li>
        <li class="active:text-redis-red-500">
            <a class="block w-full py-2 text-white" href="https://redis.io/software/">
                Redis Software
                <p class="mt-2 text-xs font-normal text-gray-300">Self-managed software with enterprise-grade compliance
                    and reliability.</p>
            </a>
        </li>
        <li class="active:text-redis-red-500">
            <a class="block w-full py-2 text-white" href="https://redis.io/open-source/">
                Redis Open Source
                <p class="mt-2 text-xs font-normal text-gray-300">In-memory database for caching &amp; streaming.</p>
            </a>
        </li>
    </ul>
    <div class="flex flex-col pt-4">
        <div class="mb-4">
            <h2 class="mb-6 pb-2 text-xs uppercase tracking-[2px] text-gray-300">Tools</h2>
            <ul class="space-y-4">
                <li class="active:text-redis-red-500"><a class="block w-full py-2 text-white"
                        href="https://redis.io/langcache/">Redis LangCache</a></li>
                <li class="active:text-redis-red-500"><a class="block w-full py-2 text-white"
                        href="https://redis.io/insight/">Redis Insight</a></li>
                <li class="active:text-redis-red-500"><a class="block w-full py-2 text-white"
                        href="https://redis.io/data-integration/">Redis Data Integration</a></li>
                <li class="active:text-redis-red-500"><a class="block w-full py-2 text-white"
                        href="https://redis.io/clients/">Clients & Connectors</a></li>
            </ul>
        </div>
        <div class="pt-4">
            <h2 class="mb-6 pb-2 text-xs uppercase tracking-[2px] text-gray-300">Get Redis</h2>
            <div class="flex text-center"><a
                    class="w-full rounded border border-redis-pen-600 bg-redis-red-700 py-4 text-redis-white-200 font-sans font-bold active:bg-redis-pen-900 active:text-white"
                    href="https://redis.io/downloads/">Downloads</a></div>
        </div>
    </div>
</div>