<div class="flex flex-col lg:hidden lg:group-hover:flex lg:absolute lg:left-40 lg:border lg:border-redis-pencil-300 bg-white lg:p-8 lg:flex-row lg:rounded-b-md gap-8 text-[15px]">
  <!-- Wrapper for Products Heading Spanning Two Columns -->
  <div class="lg:w-full">
    <h3 class="uppercase font-mono mb-2 font-bold">Products</h3>
    <div class="w-full h-px bg-redis-pen-300 my-4"></div> <!-- Horizontal line spans full width -->

  <!-- First Column (Products Content) -->
  <div class="lg:w-1/2">
    <div class="flex flex-col gap-4">
      <a class="flex flex-col group/link" href="https://redis.io/docs/latest/get-started">
        <span class="group-hover/link:text-redis-red-500 tracking-tight font-bold">Community Edition</span>
        <span class="text-redis-pen-600 font-sans font-medium">In-memory database for caching and streaming.</span>
      </a>
      <a class="flex flex-col group/link" href="https://redis.io/cloud">
        <span class="group-hover/link:text-redis-red-500 tracking-tight font-bold">Redis Cloud</span>
        <span class="text-redis-pen-600 font-sans font-medium">Fully managed service integrated with Google Cloud, Azure, and AWS for production-ready apps.</span>
      </a>
      <a class="flex flex-col group/link" href="https://redis.io/enterprise">
        <span class="group-hover/link:text-redis-red-500 tracking-tight font-bold">Redis Software</span>
        <span class="text-redis-pen-600 font-sans font-medium">Self-managed software with additional compliance, reliability, and resiliency for enterprise scaling.</span>
      </a>
    </div>
  </div>

  <!-- Second Column (Solutions Content) -->
  <div class="lg:w-1/2">
      <a class="flex flex-col group/link" href="https://redis.io/solutions/vector-search/">
        <span class="group-hover/link:text-redis-red-500 tracking-tight font-bold">Vector database</span>
        <span class="text-redis-pen-600 font-sans font-medium">Build the fastest, most reliable GenAI apps with our advanced vector database.</span>
      </a>
      <a class="flex flex-col group/link" href="https://redis.io/data-integration/">
        <span class="group-hover/link:text-redis-red-500 tracking-tight font-bold">RDI</span>
        <span class="text-redis-pen-600 font-sans font-medium">Synchorinize data in near-real time to make data fast -- without writing code. </span>
      </a>
    </div>
  </div>

  <!-- Third Column (Tools Content) -->
  <div class="w-screen bg-gray-100">
    <div class="flex justify-start p-8">
      <div class="flex flex-col gap-4">
      <h3 class="uppercase font-mono mb-2">Tools</h3>
      <div class="w-full h-px bg-redis-pen-300 my-4"></div>
      <a class="flex flex-col group/link" href="https://redis.io/insight">
        <span class="group-hover/link:text-redis-red-500 tracking-tight font-bold">Redis Insight</span>
      </a>
      <a class="flex flex-col group/link" href="https://redis.io/clients">
        <span class="group-hover/link:text-redis-red-500 mt-8 tracking-tight font-bold">Clients & connectors</span>
      </a>
      <h3 class="uppercase font-mono mb-2 mt-24 font-bold">Get Redis</h3>
      {{ partial "components/button-link.html" (dict "Href" "https://redis.io/downloads" "Text" "Download") }}
    </div>
  </div>
  </div>
</div>
</div>
</div>

