<div
  class="flex flex-col font-sans lg:hidden lg:group-hover:flex lg:absolute lg:left-20 lg:border lg:border-redis-pencil-300 bg-white lg:flex-row lg:rounded-b-md gap-8 text-[15px]">
  <div class="p-10">
    <div>
      <h2 class="mb-6 border-b border-redis-pencil-250 pb-2 text-xs font-medium uppercase tracking-[2px] text-gray-400">
        Connect</h2>
      <ul class="grid grid-cols-3 gap-x-7 gap-y-3.5">
        <li><a class="font-medium hover:text-redis-red-500"
            href="https://redis.io/customers/">Customer Stories</a></li>
        <li><a class="font-medium hover:text-redis-red-500"
            href="https://redis.io/partners/">Partners</a></li>
        <li><a class="font-medium hover:text-redis-red-500"
            href="https://redis.io/support/">Support</a></li>
        <li><a class="font-medium hover:text-redis-red-500"
            href="https://redis.io/community/">Community</a></li>
        <li><a class="font-medium hover:text-redis-red-500" href="https://redis.io/events/">Events
            &amp; Webinars</a></li>
        <li><a class="font-medium hover:text-redis-red-500"
            href="https://redis.io/services/professional-services/">Professional Services</a></li>
      </ul>
    </div>
    <div>
      <h2
        class="mb-6 mt-12 border-b border-redis-pencil-250 pb-2 text-xs font-medium uppercase tracking-[2px] text-gray-400">
        Learn</h2>
      <ul class="grid grid-cols-3 gap-x-7 gap-y-3.5">
        <li><a class="font-medium hover:text-redis-red-500" href="https://redis.io/docs/">Docs</a>
        </li>
        <li><a class="font-medium hover:text-redis-red-500"
            href="https://redis.io/commands/">Commands</a></li>
        <li><a class="font-medium hover:text-redis-red-500" href="https://redis.io/docs/latest/get-started/">Quick
            starts</a></li>
        <li><a class="font-medium hover:text-redis-red-500"
            href="https://redis.io/learn/">Tutorials</a></li>
        <li><a class="font-medium hover:text-redis-red-500"
            href="https://university.redis.io/">University</a></li>
        <li><a class="font-medium hover:text-redis-red-500" href="https://redis.io/kb/">FAQs</a></li>
        <li><a class="font-medium hover:text-redis-red-500"
            href="https://redis.io/resources/">Resources</a></li>
        <li><a class="font-medium hover:text-redis-red-500" href="https://redis.io/blog/">Blog</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex flex-col bg-redis-neutral-200 p-10">
    <div class="mb-4">
      <h2 class="mb-6 border-b border-redis-pencil-250 pb-2 text-xs font-medium uppercase tracking-[2px] text-gray-400">
        Latest</h2>
      <ul class="space-y-4">
        <li><a class="font-medium hover:text-redis-red-500"
            href="https://redis.io/release/">Releases</a></li>
        <li><a class="font-medium hover:text-redis-red-500" href="https://redis.io/company/news/">News
            &amp; Updates</a></li>
      </ul>
    </div>
    <div class="mt-auto">
      <h2 class="mb-6 pb-2 text-xs font-medium uppercase tracking-[2px] text-gray-400">See how it works</h2><a
        class="w-9/12 rounded border-redis-pen-600 bg-redis-red-700 px-6 py-4 text-redis-white-200 font-sans font-bold text-[16px] weight-[400] hover:bg-redis-pen-900"
        href="https://redis.io/demo-center/"><span>Visit Demo Center</span></a>
    </div>
  </div>
</div>