<div data-resources-mobile-menu class="hidden">
    <ul class="py-4">
        <li class="active:text-redis-red-500"><a class="block w-full py-4 text-white" href="https://redis.io/customers/">Customer
                Stories</a></li>
        <li class="active:text-redis-red-500"><a class="block w-full py-4 text-white"
                href="https://redis.io/partners/">Partners</a></li>
        <li class="active:text-redis-red-500"><a class="block w-full py-4 text-white" href="https://redis.io/support/">Support</a>
        </li>
        <li class="active:text-redis-red-500"><a class="block w-full py-4 text-white"
                href="https://redis.io/community/">Community</a></li>
        <li class="active:text-redis-red-500"><a class="block w-full py-4 text-white" href="https://redis.io/events/">Events
                &amp; Webinars</a></li>
        <li class="active:text-redis-red-500"><a class="block w-full py-4 text-white"
                href="https://redis.io/services/professional-services/">Professional Services</a></li>
    </ul>
    <div class="flex flex-col pt-4">
        <div class="mb-4">
            <h2 class="pb-2 text-xs uppercase tracking-[2px] text-gray-300">Learn</h2>
            <ul>
                <li class="active:text-redis-red-500"><a class="block w-full py-4 text-white"
                        href="https://redis.io/docs/">Docs</a></li>
                <li class="active:text-redis-red-500"><a class="block w-full py-4 text-white"
                        href="https://redis.io/commands/">Commands</a></li>
                <li class="active:text-redis-red-500"><a class="block w-full py-4 text-white" href="https://redis.io/docs/latest/get-started/">Quick
                        starts</a></li>
                <li class="active:text-redis-red-500"><a class="block w-full py-4 text-white"
                        href="https://redis.io/learn/">Tutorials</a></li>
                <li class="active:text-redis-red-500"><a class="block w-full py-4 text-white"
                        href="https://university.redis.io/">University</a></li>
                <li class="active:text-redis-red-500"><a class="block w-full py-4 text-white" href="https://redis.io/kb/">FAQs</a></li>
                <li class="active:text-redis-red-500"><a class="block w-full py-4 text-white"
                        href="https://redis.io/resources/">Resources</a></li>
                <li class="active:text-redis-red-500"><a class="block w-full py-4 text-white"
                        href="https://redis.io/blog/">Blog</a></li>
            </ul>
        </div>
    </div>
    <div class="flex flex-col bg-redis-pen-800 pt-4">
        <div class="mb-4">
            <h2 class="pb-2 text-xs uppercase tracking-[2px] text-gray-300">Latest</h2>
            <ul class="space-y-4">
                <li class="active:text-redis-red-500"><a class="block w-full py-4 text-white"
                        href="https://redis.io/release/">Releases</a></li>
                <li class="active:text-redis-red-500"><a class="block w-full py-4 text-white"
                        href="https://redis.io/company/news/">News &amp; Updates</a></li>
            </ul>
        </div>
    </div>
    <div class="flex flex-col bg-redis-pen-800 pt-4">
        <div class="mb-4">
            <h2 class="mb-6 pb-2 text-xs uppercase tracking-[2px] text-gray-300">See how it works</h2>
            <div class="flex text-center"><a
                    class="w-full rounded border border-redis-pen-600 bg-redis-red-700 py-4 text-redis-white-200 font-sans font-bold active:bg-redis-pen-900 active:text-white"
                    href="https://redis.io/demo-center/">Visit Demo Center</a></div>
        </div>
    </div>
</div>