<div class="hidden group-hover:flex absolute left-11 border border-redis-pencil-300 bg-white p-8 flex-row rounded-b-md gap-8 text-sm">
  <div class="w-60">
    <div class="flex flex-col gap-4">
      <h3 class="uppercase font-mono mb-2">Use cases</h3>
      <a class="flex flex-col hover:underline" href="http://redis.io/solutions/caching">
        <span class="font-bold">Caching</span>
      </a>
      <a class="flex flex-col hover:underline" href="http://redis.io/solutions/deduplication">
        <span class="font-bold">Deduplication</span>
      </a>
      <a class="flex flex-col hover:underline" href="http://redis.io/solutions/fast-data-ingest">
        <span class="font-bold">Fast data ingest</span>
      </a>
      <a class="flex flex-col hover:underline" href="http://redis.io/solutions/feature-stores">
        <span class="font-bold">Feature stores</span>
      </a>
      <a class="flex flex-col hover:underline" href="http://redis.io/solutions/session-management">
        <span class="font-bold">Session management</span>
      </a>
      <a class="flex flex-col hover:underline" href="http://redis.io/vector-database">
        <span class="font-bold">Vector search</span>
      </a>
    </div>
  </div>
  <div class="border-l border-redis-pen-300"></div>
  <div class="w-60">
    <div class="flex flex-col gap-4">
      <h3 class="uppercase font-mono mb-2">Industries</h3>
      <a class="flex flex-col hover:underline" href="http://redis.io/industries/financial-services">
        <span class="font-bold">Financial services</span>
      </a>
      <a class="flex flex-col hover:underline" href="http://redis.io/industries/gaming">
        <span class="font-bold">Gaming</span>
      </a>
      <a class="flex flex-col hover:underline" href="http://redis.io/industries/healthcare">
        <span class="font-bold">Healthcare</span>
      </a>
      <a class="flex flex-col hover:underline" href="http://redis.io/industries/retail">
        <span class="font-bold">Retail</span>
      </a>
    </div>
  </div>
  <div class="border-l border-redis-pen-300"></div>
  <div class="w-60">
    <div class="flex flex-col gap-4">
      <h3 class="uppercase font-mono mb-2">Customer case studies</h3>
      {{ partial "components/button-link.html" (dict "Href" "" "Text" "Demo Center") }}
      <div class="w-full h-px bg-redis-pen-300 my-4"></div>
      <div>customer logo</div>
      <p class="text-redis-pen-700 font-sans">Sentence preview of customer story lorem ipsum dolor</p>
      <a class="w-fit p-4 text-sm font-mono text-redis-ink-900 border border-redis-pen-600 rounded hover:bg-redis-pencil-200 transition-colors" href="">See more</a>
    </div>
  </div>
</div>