<div class="flex flex-col lg:hidden lg:group-hover:flex lg:absolute lg:left-11 lg:border lg:border-redis-pencil-300 bg-white lg:p-8 lg:flex-row lg:rounded-b-md gap-8 text-sm">
  <div class="lg:w-60">
    <div class="flex flex-col gap-4">
      <h3 class="uppercase font-mono mb-2">Use cases</h3>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="http://redis.io/solutions/caching">
        <span class="">Caching</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="http://redis.io/solutions/deduplication">
        <span class="">Deduplication</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="http://redis.io/solutions/fast-data-ingest">
        <span class="">Fast data ingest</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="http://redis.io/solutions/feature-stores">
        <span class="">Feature stores</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="http://redis.io/solutions/session-management">
        <span class="">Session management</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="http://redis.io/vector-database">
        <span class="">Vector search</span>
      </a>
    </div>
  </div>
  <div class="border-t lg:border-l border-redis-pen-300"></div>
  <div class="lg:w-60">
    <div class="flex flex-col gap-4">
      <h3 class="uppercase font-mono mb-2">Industries</h3>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="http://redis.io/industries/financial-services">
        <span class="">Financial services</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="http://redis.io/industries/gaming">
        <span class="">Gaming</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="http://redis.io/industries/healthcare">
        <span class="">Healthcare</span>
      </a>
      <a class="flex flex-col hover:text-redis-red-500 tracking-tight" href="http://redis.io/industries/retail">
        <span class="">Retail</span>
      </a>
    </div>
  </div>
  <div class="border-t lg:border-l border-redis-pen-300"></div>
  <div class="lg:w-60">
    <div class="flex flex-col gap-4">
      <h3 class="uppercase font-mono mb-2">Customer case studies</h3>
      {{ partial "components/button-link.html" (dict "Href" "https://redis.io/customers" "Text" "Read stories") }}
      <div class="w-full h-px bg-redis-pen-300 my-4"></div>
      <div>{{ partial "icons/niantic-midnight.html" }}</div>
      <p class="text-redis-pen-600 font-sans font-medium">Optimizing Pokémon GO with a Redis Enterprise cluster</p>
      {{ partial "components/button-link.html" (dict "Href" "https://redis.io/customers/niantic" "Text" "See more" "AltColors" true) }}
    </div>
  </div>
</div>