<div class="hidden group-hover:flex absolute -ml-10 border border-redis-pencil-300 bg-white p-8 flex-row rounded-b-md gap-8 text-sm">
  <div class="w-60">
    <div class="flex flex-col gap-4">
      <h3 class="uppercase font-mono mb-2">support header?</h3>
      <a class="flex flex-col hover:underline" href="http://redis.io/contact">
        <span class="font-bold">Contact us</span>
      </a>
      <a class="flex flex-col hover:underline" href="http://redis.io/services/professional-services">
        <span class="font-bold">Professional services</span>
      </a>
      <a class="flex flex-col hover:underline" href="http://redis.io/services/customer-success">
        <span class="font-bold">Customer success</span>
      </a>
      <a class="flex flex-col hover:underline" href="http://redis.io/support">
        <span class="font-bold">24/7 support</span>
      </a>
    </div>
  </div>
</div>