<table>
<tr>
<td>
<table>
    <tr>
        <th></th>
        <th style="text-align:center">Getting started</th>
        <th style="text-align:center">Document search</th>
        <th style="text-align:center">Vector search</th>
    </tr>
    <tr>
        <td><a href='{{- relref . "/develop/clients/redis-py" -}}'>Python</a></td>
        <td style="text-align:center">
            <a href='{{- relref . "/develop/clients/redis-py/connect" -}}'>&#9989;</a>
        </td>
        <td style="text-align:center">
            <a href='{{- relref . "/develop/clients/redis-py/queryjson" -}}'>&#9989;</a>
        </td>
        <td style="text-align:center">
            <a href='{{- relref . "/develop/clients/redis-py/vecsearch" -}}'>&#9989;</a>
        </td>
    </tr>
    <tr>
        <td><a href='{{- relref . "/develop/clients/dotnet" -}}'>C#/.NET</a></td>
        <td style="text-align:center">
            <a href='{{- relref . "/develop/clients/dotnet/connect" -}}'>&#9989;</a>
        </td>
        <td style="text-align:center">
            <a href='{{- relref . "/develop/clients/dotnet/queryjson" -}}'>&#9989;</a>
        </td>
        <td style="text-align:center">
            <a href='{{- relref . "/develop/clients/dotnet/vecsearch" -}}'>&#9989;</a>
        </td>
    </tr>
    <tr>
        <td><a href='{{- relref . "/develop/clients/nodejs" -}}'>Node.js</a></td>
        <td style="text-align:center">
            <a href='{{- relref . "/develop/clients/nodejs/connect" -}}'>&#9989;</a>
        </td>
        <td style="text-align:center">
            <a href='{{- relref . "/develop/clients/nodejs/queryjson" -}}'>&#9989;</a>
        </td>
        <td style="text-align:center">
            <a href='{{- relref . "/develop/clients/nodejs/vecsearch" -}}'>&#9989;</a>
        </td>
    </tr>
    <tr>
        <td><a href='{{- relref . "/develop/clients/jedis" -}}'>Java</a></td>
        <td style="text-align:center">
            <a href='{{- relref . "/develop/clients/jedis/connect" -}}'>&#9989;</a>
        </td>
        <td style="text-align:center">
            <a href='{{- relref . "/develop/clients/jedis/queryjson" -}}'>&#9989;</a>
        </td>
        <td style="text-align:center">
            <a href='{{- relref . "/develop/clients/jedis/vecsearch" -}}'>&#9989;</a>
        </td>
    </tr>
    <tr>
        <td><a href='{{- relref . "/develop/clients/go" -}}'>Go</a></td>
        <td style="text-align:center">
            <a href='{{- relref . "/develop/clients/go/connect" -}}'>&#9989;</a>
        </td>
        <td style="text-align:center">
            <a href='{{- relref . "/develop/clients/go/queryjson" -}}'>&#9989;</a>
        </td>
        <td style="text-align:center">
            <a href='{{- relref . "/develop/clients/go/vecsearch" -}}'>&#9989;</a>
        </td>
    </tr>
    <tr>
        <td><a href='{{- relref . "/develop/clients/php" -}}'>PHP</a></td>
        <td style="text-align:center">
            <a href='{{- relref . "/develop/clients/php/connect" -}}'>&#9989;</a>
        </td>
        <td style="text-align:center">
            <a href='{{- relref . "/develop/clients/php/queryjson" -}}'>&#9989;</a>
        </td>
        <td style="text-align:center">
            <a href='{{- relref . "/develop/clients/php/vecsearch" -}}'>&#9989;</a>
        </td>
    </tr>
    <tr>
        <td colspan="4"> 
            <img
            style="float: left;padding-left: 5%;padding-right: 5%;padding-top:0"
            src='{{- relURL "develop/tools/insight/images/Browser.png" -}}'
            width="300px"
        />
        <p>
            <a href='{{ relURL "/develop/tools/insight" }}'><strong>Redis Insight</strong></a><br/>
            Visual client tool for creating, managing, and analyzing
            Redis databases.
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <img
                style="float: left;padding-left: 5%;padding-right: 5%"
                src='{{- relURL "images/dev/connect/vscode/vscode-cli.png" -}}'
                width="300px"
            />
            <p>
                <a href='{{ relURL "/develop/tools/redis-for-vscode" }}'><strong>Redis for VSCode</strong></a><br/>
            Create and manage Redis databases directly from a <a href="https://code.visualstudio.com/">VSCode</a>
            window using our editor extension.
            </p>
        </td>
    </tr>
</table>