<table>
    <tr>
        <th>
            <a href='{{ relref . "/develop/get-started" }}'>
                <img src='{{ relURL "images/icon_logo/icon-developers-32-midnight.png" }}'/>
                <strong>Quick start</strong>
            </a>
        </th>
        <th>
            <a href='{{ relref . "/develop/data-types" }}'>
            <img src='{{ relURL "images/icon_logo/icon-data-structures-32-midnight.png" }}'/>
            <strong>Data types</strong>
            </a>
        </th>
        <th>
            <a href='{{ relref . "/develop/interact/search-and-query" }}'>
                <img src='{{ relURL "images/icon_logo/icon-text-search-32-midnight.png" }}'/>
                <strong>Query engine</strong>
            </a>
        </th>
    </tr>
    <tr>
        <td>
            <ul style="list-style-type: none; padding-left:0%;margin-left:-2%">
                <li><a href='{{ relref . "/develop/get-started/vector-database" }}'>Vector database</a></li>
                <li><a href='{{ relref . "/develop/get-started/document-database" }}'>Document store</a></li>
                <li><a href='{{ relref . "/develop/get-started/data-store" }}'>Data structure store</a></li>
                <li><a href='{{ relref . "/develop/get-started/rag" }}'>RAG with Redis</a></li>
                <li><a href='/develop/get-started/redis-in-ai'>GenAI</a></li>
            </ul>
        </td>
    <td>
        <ul style="list-style-type: none; padding-left:0%;margin-left:-2%">
            <li><a href='{{ relref . "/develop/data-types/strings" }}'>String</a></li>
            <li><a href='{{ relref . "/develop/data-types/json" }}'>JSON</a></li>
            <li><a href='{{ relref . "/develop/data-types/hashes" }}'>Hash</a></li>
            <li><a href='{{ relref . "/develop/data-types/vector-sets" }}'>Vector set</a></li>
            <li><a href='{{ relref . "/develop/data-types/probabilistic" }}'>Probabilistic</a></li>
        </ul>
    </td>
    <td>
        <ul style="list-style-type: none; padding-left:0%;margin-left:-2%">
            <li><a href='{{ relref . "/develop/interact/search-and-query" }}'>Get started</a></li>
            <li><a href='{{ relref . "/develop/interact/search-and-query/basic-constructs/field-and-type-options" }}'>Schema field types</a></li>
            <li><a href='{{ relref . "/develop/interact/search-and-query/indexing" }}'>Indexing</a></li>
            <li><a href='{{ relref . "/develop/interact/search-and-query/query" }}'>Querying</a></li>
            <li><a href='{{ relref . "/develop/interact/search-and-query/query-use-cases" }}'>Use cases</a></li>
        </ul>
    </td>
    </tr>
</table>




