{{ $fname := .Get "filename" | strings.TrimLeft "/" }}
{{ if not (hasPrefix $fname "/") }}
	{{ .Scratch.Set "file" (printf "/%s" $fname) }}
{{ else }}
	{{ .Scratch.Set "file" $fname }}
{{ end }}
{{- $width :=  .Get "width" | default "75%" }}
<a href='{{ relURL $fname }}' sdata-lightbox="{{- .Scratch.Get "file" -}}">
	<img src='{{ relURL $fname }}'
		 {{ with .Get "width" }} width="{{.}}"{{ end }} 
		 {{ with .Get "align"}} align="{{.}}"{{ end }}
		 {{ with .Get "alt"}} alt="{{.}}"{{ end }} 
		 {{ with .Get "class"}} class="{{.}}"{{ end }}/>
</a>
