{{- $apiName := .Get 0 -}}
{{- $apiData := index .Site.Data $apiName -}}

{{- range $name, $info := $apiData.components.schemas -}}
<div class="expand mb-5" style="background-color:rgb(240,240,240);padding:8px;border-radius: 5px;">
    <a id="{{ $name }}"></a>
    <div 
        class="expand-label cursor-pointer"
        onclick="toggleExpand(event)"
    >
        <div class="flex flex-row gap-3 items-center hover:text-redis-red-500 transition-colors ease-in-out duration-150">

<div style="font-size: smaller;">   
    <code style="margin-right: 1em;font-weight: bold;">{{ $name }}</code>{{ $info.type }}<br/>
</div>

          <div class="expand-chevron transition-transform duration-500 ease-in-out">
            {{- partial "icons/chevron.html" -}}
          </div>
        </div>
    </div>
    <div class="expand-content h-0 overflow-hidden transition-all duration-500 ease-in-out">
    {{- if $info.description -}}
    {{ $info.description }}
    {{- end -}}
    {{- if $info.properties -}}
        <h4 style="font-weight: bold;margin-top:1em;">Properties</h4>
        {{- range $propKey, $propInfo := $info.properties -}}
        <code>{{ $propKey }}
            {{- if in $info.required $propKey -}}<span style="color:red">*</span>{{- end }}
            {{- if $propInfo.type }}
            <span style="color: blue">{{ $propInfo.type }}</span>
            {{- else if $propInfo.anyOf -}}
            {{- $aoObjTypeName := "" -}}
            (
                {{- range $propInfo.anyOf -}}
                    {{- if (index . "$ref") -}}
                    {{- $aoObjTypeName = index (last 1 (split (index . "$ref") "/")) 0 -}}
                    <a href="#{{ $aoObjTypeName }}">{{ $aoObjTypeName }}</a>;
                    {{- end -}}
                    {{- if (index . "type") -}}
                    {{ index . "type" }};
                    {{- end -}}
                {{- end -}}
            )
            {{- else if $propInfo.allOf -}}
            {{- $aoObjTypeName := "" -}}
            (
                {{- range $propInfo.allOf -}}
                    {{- if (index . "$ref") -}}
                    {{- $aoObjTypeName = index (last 1 (split (index . "$ref") "/")) 0 -}}
                    <a href="#{{ $aoObjTypeName }}">{{ $aoObjTypeName }}</a>;
                    {{- end -}}
                    {{- if (index . "type") -}}
                    {{ index . "type" }};
                    {{- end -}}
                {{- end -}}
            )
            {{- end -}}
        </code><br/>
        {{- end -}}
    {{- else if $info.enum -}}
    <h4 style="font-weight: bold;margin-top:1em;">Allowed values</h4>
    <code>{{ delimit $info.enum ", "}}</code>
    {{- end -}}
    </div>
  </div>
{{- end -}}

<script>
    function toggleExpand(event) {
        var parent = event.currentTarget.parentElement;
        var content = parent.getElementsByClassName('expand-content')[0];
        content.classList.toggle('h-0');
        content.classList.toggle('h-[600px]');
  
        var chevron = parent.getElementsByClassName('expand-chevron')[0];
        chevron.classList.toggle('rotate-180');
    }
  </script>