{{- $apiName := .Get 0 -}}
{{- $apiData := index .Site.Data $apiName -}}

{{- range $url, $info := $apiData.paths -}}
<div class="expand mb-5" style="background-color:rgb(240,240,240);padding:8px;border-radius: 5px;">
    <div 
        class="expand-label cursor-pointer"
        onclick="toggleExpand(event)"
    >
        <div class="flex flex-row gap-3 items-center hover:text-redis-red-500 transition-colors ease-in-out duration-150">
          
    {{- $method := "splarp" -}}
    {{- if $info.get -}}
        {{- $method = "get" -}}
    {{- else if $info.post -}}
        {{- $method = "post" -}}
    {{- else if $info.put -}}
        {{- $method = "put" -}}
    {{- end -}}

<div style="font-size: smaller;">
    <code 
        style='
{{- if eq $method "get" -}}
        background-color:cornflowerblue;
{{- else if eq $method "post" -}}
        background-color:darkseagreen;
{{- else if eq $method "put" -}}
        background-color:darkorange;
{{- else }}
        background-color:black;
{{ end }}
        color: white;
        padding: 5px;
        margin-right: 1em;
        font-weight: bold;
        border-radius: 5px
    '>{{ upper $method }}</code>    
    <code style="margin-right: 1em;font-weight: bold;">{{ $url }}</code>{{ (index $info $method).summary }}<br/>
</div>

          <div class="expand-chevron transition-transform duration-500 ease-in-out">
            {{- partial "icons/chevron.html" -}}
          </div>
        </div>
    </div>
    <div class="expand-content h-0 overflow-hidden transition-all duration-500 ease-in-out">
    {{- with index $info $method -}}
    <h4 style="font-weight: bold;">Description</h4>
    {{- $firstDescSplit := split .description "Args:" -}}
    {{- $mainDesc := chomp (index $firstDescSplit 0) -}}
    {{ $mainDesc }}
    
    {{- $secondDescSplit := split (index $firstDescSplit 1) "Returns:" -}}
    {{- $argPart := chomp (index $secondDescSplit 0) -}}
    {{- if ne $argPart "" -}}
    <h4 style="font-weight: bold;margin-top:1em;">Args</h4>
    {{ $argPart }}
    {{- end -}}
    
    {{- $returnsPart := chomp (index $secondDescSplit 1) -}}
    {{- if ne $returnsPart "" -}}
    <h4 style="font-weight: bold;margin-top:1em;">Returns</h4>
    {{ $returnsPart }}
    {{- end -}}
    
    <h4 style="font-weight: bold;margin-top:1em;">Parameters</h4>
    {{- if .parameters -}}
    {{- $paramObjTypeName := "" -}}
    <table>
        <thead><tr><th>Name</th><th>In</th><th>Content</th></tr></thead>
        {{- range .parameters -}}
        <tr>
            <td>
                <code>{{ .name }}</code>
                {{- if .required -}}<span style="color:red">*</span>{{- end }}
            </td>
            <td>
                {{ title .in }}
            </td>
            <td>
                {{- if .schema.type -}}
                <code>{{ .schema.type }}</code>
                {{- else if index .schema "$ref" -}}
                <code>
                {{- $paramObjTypeName = index (last 1 (split (index .schema "$ref") "/")) 0 -}}
                <a href="#{{ $paramObjTypeName }}">{{ $paramObjTypeName }}</a>
                </code>
                {{- end -}}
            </td>
        </tr>
        {{- end -}}
    </table>
    {{- else -}}
    None
    {{- end -}}

    <h4 style="font-weight: bold;margin-top:1em;">Responses</h4>
    <table>
        <thead><tr><th>Code</th><th>Description</th><th>Content</th></tr></thead>
        {{- $respObjType := "" -}}
        {{- $respObjTypeName := "" -}}
        {{- range $respCode, $respInfo := .responses -}}
            <tr>
                <td>{{ $respCode }}</td>
                <td>{{ $respInfo.description }}</td>
                {{- $respObjType = index (index $respInfo.content "application/json").schema "$ref" -}}
                {{- $respObjTypeName = index (last 1 (split $respObjType "/")) 0 -}}
                <td><a href="#{{ $respObjTypeName }}">{{ $respObjTypeName }}</a></td>
            </tr>
        {{- end -}}
    </table>
    {{- end -}}
    </div>
  </div>
{{- end -}}



<script>
    function toggleExpand(event) {
        var parent = event.currentTarget.parentElement;
        var content = parent.getElementsByClassName('expand-content')[0];
        content.classList.toggle('h-0');
        content.classList.toggle('h-[600px]');
  
        var chevron = parent.getElementsByClassName('expand-chevron')[0];
        chevron.classList.toggle('rotate-180');
    }
  </script>
