{{/* 
Show-on-path shortcode that displays content only if the current page URL matches the specified filepath.

Usage:
{{< show-on-path filepath="/path/to/page" >}}
Content to show only on the specified path
{{< /show-on-path >}}

Parameters:
- filepath: The URL path to match against (required)
*/}}

{{ $filepath := .Get "filepath" }}
{{ $currentPath := .Page.Path }}

{{ $fullFilepath := printf "%s%s" .Site.BaseURL $filepath }}
{{ $fullCurrentPath := printf "%s%s" .Site.BaseURL $currentPath }}

{{/* Remove trailing slash from both paths for consistent comparison */}}
{{ $normalizedFilepath := cond (strings.HasSuffix $fullFilepath "/") (substr $fullFilepath 0 (sub (len $fullFilepath) 1)) $fullFilepath }}
{{ $normalizedCurrentPath := cond (strings.HasSuffix $fullCurrentPath "/") (substr $fullCurrentPath 0 (sub (len $fullCurrentPath) 1)) $fullCurrentPath }}

{{/* Debug output */}}
<div style="border: 1px solid red; padding: 10px; margin: 10px 0; background: #ffe6e6;">
<strong>Debug Info:</strong><br>
currentPath: {{ $currentPath }}<br>
filepath: {{ $filepath }}<br>
normalizedCurrentPath: {{ $normalizedCurrentPath }}<br>
normalizedFilepath: {{ $normalizedFilepath }}<br>
Match: {{ eq $normalizedCurrentPath $normalizedFilepath }}
</div>

{{/* Display content only if paths match */}}
{{ if eq $normalizedCurrentPath $normalizedFilepath }}
{{ .Inner | markdownify }}
{{ end }}
