
on:
  push:
    branches:
    - '**'
jobs:
  test_gcs:
    name: Test Google Cloud Storage access
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    env:
      GCLOUD_VERSION: 458.0.1-linux-x86_64
      BUCKET: docs-prod-learn-redis-com
      PROD_PROJECT_ID: ${{ secrets.GCP_PROJECT_PROD }}
      PROD_SERVICE_ACCOUNT: ${{ secrets.PROD_SERVICE_ACCOUNT }}
      PROD_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.PROD_WORKLOAD_IDENTITY_PROVIDER }}

    steps:
    - uses: actions/checkout@v4
    - name: Start
      run: echo "The name of the branch is ${{ github.ref }} on ${{ github.repository }}"

    - name: 'Google auth'
      uses: 'google-github-actions/auth@v2'
      with:
        project_id: '${{ env.PROD_PROJECT_ID }}'
        service_account: '${{ env.PROD_SERVICE_ACCOUNT }}'
        workload_identity_provider: '${{ env.PROD_WORKLOAD_IDENTITY_PROVIDER }}'

    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v2'
      with:
        project_id: '${{ env.PROD_PROJECT_ID }}'
        version: '>= 363.0.0'

    - name: List files
      run: ./google-cloud-sdk/bin/gsutil ls gs://$BUCKET
    - name: End
      run: echo "This job's status is ${{ job.status }}."
   
